[2017-04-27 00:53] bhartsb opened #3 "using from Objective-c"
I'm attempting to use this from Objective-c.   Running into problems though with BannerStyle enum and trying to instantiate a StatusBarNotificationBanner.

Any pointers would be appreciated.

[2017-04-27 03:27] Daltron commented on #3
Hi @bhartsb! 😄

Unfortunately, in order to take advantage of some of Swift's features, NotificationBanner wasn't really built to be nicely compatible with Objective-C. Objective-C is not able to handle swift initializers that contain both optionals and non optionals which is exactly what NotificationBanner utilizes. If you decide to use Swift in any of your future projects, I hope you give Notific

[2017-04-27 03:27] #3 closed

[2017-04-27 10:39] bhartsb commented on #3
I've been able to use the StatusBarNotificationBanner by including the source files and dependent files for MarqueeLabel and SnapKit in my obj-c Xcode project.  In order for the bridging header to generate correctly I had to change these lines in the respective files:

`@objc public class StatusBarNotificationBanner: BaseNotificationBanner {
@objc public class NotificationBanner: BaseNotificationB

[2017-04-27 14:52] Daltron commented on #3
@bhartsb Thanks for the update. It's been awhile since I've worked with Swift CocoaPods in Objective-C so I'm glad you've explained what you've done. It sounds like your getting everything to work properly so that is great to hear!

[2017-05-02 08:59] Dschee opened #4 "Carthage Compatiblity"
Currently one can only install NotificationBanner via CocoaPods which is a pity since Carthage is the much cleaner solution to dependency management (it's much less intrusive than CocoaPods). Support for Carthage would enable the many Carthage users to use this otherwise great library, too.

[2017-05-02 09:56] RtzX opened #6 "iOS 9?"
If I used on iOS 8 now, ok?Whether to support iOS 8?

[2017-05-02 13:12] Daltron commented on #6
Hi @RtzX! 😄 Apple recommends only supporting the latest two iOS versions which would be iOS 9 and iOS 10. With iOS 11 soon on the way, iOS 9 will start to phase out as iOS users tend to adopt new versions very heavily.

[2017-05-03 02:03] RtzX commented on #6
oh.I know. Thank you

[2017-05-03 02:03] #6 closed

[2017-05-04 19:41] JoniVR opened #8 "Some features.."
Hi,
I'm not really sure how I can add a "feature request" label to an issue, but anyways.
First of all, I really like this, it's really easy to use and very clean UI wise, great work!!

Had a couple of things in mind that would be nice additions:
- the option to disable new banners when a banner is currently active.
- the option to easily set how long a banner is shown, and to be able to check pro

[2017-05-04 21:57] Daltron commented on #8
Hi @JoniVR! 😄 Thanks for the kind remarks. I'm glad to hear you like it and think it is easy to use! Only I can add the feature request label to an issue so my apologies for that. I will update the README so others are not confused. Regarding your feature requests:

1. I'm not entirely sure what you mean by this one. If you could give some further explanation, that would be great!
2. Great idea! I

[2017-05-05 07:12] JoniVR commented on #8
Hello @Daltron,

I'll give you an example to explain what I mean with the first point:

I have a collectionview in the setup process for my application where the user needs to select some items he/she likes, I used your library to show a notification when they try to tap the "done" button without first selecting something, the thing is, if they keep tapping "done" without selecting something, it w

[2017-05-05 13:33] Daltron commented on #8
@JoniVR thanks for explaining, I understand your desired behavior! However, I think this functionality could be achieved by adding only the 2nd bullet point you mentioned. If you know wether or not the banner is being displayed, then you can determine wether or not to display another one (if desired). How does that sound? 😄

[2017-05-05 15:57] JoniVR commented on #8
Yes haha now that I read it again I see that too :)

[2017-05-06 06:42] #8 closed

[2017-05-10 10:13] egenvall opened #10 "Title label gets truncated instead of scrolling with custom duration"
The titlelabel of a NotificationBanner does not scroll if a custom duration is set for the banner, instead it gets truncated at the end.
I didn't check for the subtitle or status banner.

     func successNotificationBanner(_ text: String, subtitle: String){
        showBanner(NotificationBanner(title: text, subtitle: subtitle, style: .success))
    }

    private func showBanner(_ banner: BaseNot

[2017-05-10 14:36] Alex293 opened #11 "Request priority system"
Hi ! Nice lib !
I'm thinking about extending your queue system with an arbitrary priority system (a bit like NSConstraint). You add the notification with a priority value and then the queue decide the display order instead of when it's added. We could set default like high number for error, small for info.

I don't know if I'm clear but this system would reduce dev think about should my banner go

[2017-05-11 02:19] Daltron commented on #10
Hi @egenvall! 😄

So the problem you are running into is actually by design and expected. When the duration is set, the `didSet` method calls this:

[code]

The problem is the duration you are setting is not greater than 3, thus causing the label to have a speed duration less than or equal to zero. Based on my findings when I first designed this, I decided to subtract 3 from the duration given beca

[2017-05-11 02:25] Daltron commented on #11
Hi @Alex293! 😄

First off, I'm glad to hear you are enjoying the library! I've put quite a bit of thought into your request and I don't think NotificationBanner would benefit from this. I think displaying a banner on a queue is binary as in, I either want to show it immediately or I don't. I think adding a priority system complicates things just slightly from a usability point of view. If others o

[2017-05-11 12:38] egenvall commented on #10
@Daltron
Thanks for the reply.
Fair enough, I actually skimmed through the code yesterday but I must've been tired ;)
As a follow up question, if I understand it correctly, the intended behavior is:

- Scroll to the end
- Pause
- Dismiss

During my short experiment my experience was, with the default duration and a long title, it goes like:

- Scroll to end
- Pause
- Scroll back
- Dismiss somewher

[2017-05-13 19:41] Daltron commented on #10
@egenvall Thanks for pointing this out to me. I see exactly what you are talking about. In the upcoming week, I will try to find a way to make sure that behavior doesn't happen. When I have more info, I will report back!

[2017-05-16 02:00] miliPolo opened #12 "I tried to use it in OC, but I couldn't call its functions"
I tried to use it in OC, but I couldn't call its functions

[2017-05-16 02:03] Daltron commented on #12
Hi @miliPolo! 😄 I have no idea what OC means. Could you please explain?

Thanks!

[2017-05-16 02:08] miliPolo commented on #12
OC means Object-C

This is the code in MyProjectName-Swfit.h ,i can't find the functions  of StatusBarNotificationBanner

SWIFT_CLASS("_TtC8LeftMost27StatusBarNotificationBanner")
@interface StatusBarNotificationBanner : BaseNotificationBanner
- (nullable instancetype)initWithCoder:(NSCoder * _Nonnull)aDecoder OBJC_DESIGNATED_INITIALIZER;
@end

I hope you can help me

[2017-05-16 02:10] Daltron commented on #12
@miliPolo Please look over #3 as this question has been asked before.

Thanks!

[2017-05-16 02:13] miliPolo commented on #12
Thank you for your answer

[2017-05-16 02:15] Daltron commented on #12
@miliPolo Your welcome, enjoy! 😄

[2017-05-16 02:15] #12 closed

[2017-05-22 08:27] mazvydasb opened #14 "Static multiline subtitles"
Hi @Daltron,

Very cool library! While implementing it we found that currently it's not possible to have multi-line subtitles instead of scrolling ones. Would it be possible to add a functionality for a static multi-line subtitles?

Thanks,
Mazvydas

[2017-05-22 23:02] #11 closed

[2017-05-22 23:07] Daltron commented on #14
Hi @mazvydasb! 😄

 I'm glad to hear you are enjoying the library. Unfortunately at this time, it's not possible to have multi-line subtitles unless you go the custom view route. This is due to the way [MarqueeLabel](https://github.com/cbpowell/MarqueeLabel) is implemented as it only supports one line labels since its sole purpose and existence is to scroll labels (which makes sense for that librar

[2017-06-05 15:17] #4 closed

[2017-06-05 22:32] Daltron opened #15 "Give the option to generate haptic feedback when a banner appears"
If the device supports haptic feedback, allow the developer to decide what kind of haptic feedback to generate. This feature can also be enabled/disabled per notification.

[2017-06-05 23:58] nick-iCars opened #16 "Presentation from beneath navigation bar?"
Not sure if this would be handy for other folks too but for my purposes I need to sho the notification for a longer than usual time ~20 seconds, but I'd rather cover the nav bar buttons / interactions.

[2017-06-06 00:00] Daltron commented on #16
Hi @nick-iCars! 😄

You aren't the first person to propose this functionality so I am going to go ahead and add it to the next release milestone!

Thanks!

[2017-06-06 00:01] nick-iCars commented on #16
😀

[2017-06-06 00:02] nick-iCars commented on #16
LMK if I can contribute on anything. Haven't really looked at the code tbh.

[2017-06-06 00:03] Daltron commented on #16
@nick-iCars I absolutely will! It shouldn't be too difficult to implement.
Thanks! 😄

[2017-06-06 01:27] miws opened #17 "Dependency "NotificationBanner" has no shared framework schemes"
$ carthage update
*** Fetching NotificationBanner
*** Checking out NotificationBanner at "1.2.0"
*** xcodebuild output can be found in /var/folders/3d/0_7l4jkd7pz0xpzzv56rddnh0000gn/T/carthage-xcodebuild.gg0Xl3.log
*** Skipped building NotificationBanner due to the error:
Dependency "NotificationBanner" has no shared framework schemes

If you believe this to be an error, please file an issue with

[2017-06-06 02:29] Daltron commented on #17
@Dschee Any idea what's going on here? When I have time, I will beef up on my Carthage knowledge, but as of right now, if you could provide assistance, that would be greatly appreciated!

[2017-06-06 06:02] Dschee commented on #17
@Daltron Thanks for asking, sure, no problem.

Sorry for not being clear about this from the beginning, but the "usual" way of including a framework is whithout specifying any specific branch or commit at all. This will default the installation to the latest released tag on GitHub, which is 1.2.0 apparently. But if I'm correct then this release was made before my PR got merged.

So the easiest sol

[2017-06-06 07:17] rhenz opened #18 "Change banner default show time?"
How to modify the banner's default show time or show it indefinitely and then hide it manually?

[2017-06-06 14:19] Daltron commented on #18
Hey @rhenz! 😄 You will want to modify the banner's `duration` property. If you want to show it indefinitely, the simply pass in a large value to the `duration property`. I will open up an issue to add a feature request to make it easier to show an indefinite banner.

Thanks!

[2017-06-06 14:19] #18 closed

[2017-06-06 14:23] Daltron opened #19 "Show banners infinitely"
Currently, banners can be shown infinitely by passing in a large value to the `duration` property. It would be better if each banner had a boolean value to indicate wether or not it should be shown infinitely.

[2017-06-06 14:24] Daltron commented on #17
@Dschee Thanks for the insight! 😄 @miws, for now, can you do what @Dschee said and point directly to the master branch until I release v1.3.0? I should be able to get around to it within the next couple weeks.

[2017-06-06 20:18] Dschee commented on #17
Actually I think we can close this as #5 is merged and fixes this.

[2017-06-07 01:19] miws commented on #17
@Dschee @Daltron thx.
I also did that.

[2017-06-07 01:19] #17 closed

[2017-06-07 03:07] #14 closed

[2017-06-07 07:13] rhenz commented on #18
Thanks @Daltron ! Cheers!

[2017-06-07 10:25] phynet opened #20 "Issue cocoapods"
Hello, it seems there's an issue with cocoapods installation. Unable to find a specification for NotificationBannerSwift. Maybe there is a issue with the name....

![captura de pantalla 2017-06-07 a las 12 24 19](https://user-images.githubusercontent.com/724536/26874013-4237e9fa-4b7c-11e7-9e9d-c21766445713.png)

[2017-06-08 05:12] Daltron commented on #20
Hi @phynet! 😄 This is a common issue experienced within CocoaPods if your repo is out of date. Simply running the command `pod repo update` and then `pod install` should be all you need to do to get you going. Please report back if this works!

Thanks!

[2017-06-08 15:25] matin-kaj opened #21 "Passing an object as a parameter on banner.onTap"
Is it possible to pass an optional parameter type of `Any` on `banner.onTap` for Banners with a Custom View ?

[2017-06-08 16:42] Daltron commented on #21
Hi @matin-kaj! 😄 What exactly are you trying to accomplish? Could you provide me an example please so I can better understand? But to answer your question, no that is not possible.

[2017-06-08 16:57] matin-kaj commented on #21
@Daltron Thanks for the replay. what I am trying to do is once I tap on custom banner view I would like to have an access to notificationId  as an object inside banner.onTap scope.
For instance , creating an instance like this with parameter
` let banner = NotificationBanner(customView: customNotificationBannerView , withObject: someObject )  ` then once a user taps on banner inside callback funct

[2017-06-08 18:17] matin-kaj opened #22 "Option to format title and subtitle (style, color)"
I just realized if I use white custom background color or `.none` the title and subtitle will become invisible.

[2017-06-08 18:32] Daltron commented on #21
@matin-kaj You can access `someObject` like this:

[code]

There is no need to pass in a variable directly into the initializer.
Let me know if this helps!

[2017-06-08 18:36] Daltron commented on #22
@matin-kaj  You have completely full control of how your `titleLabel` and `subtitleLabel` look. You can manually change the `titleLabel` and `subtitleLabel` text colors and many other properties by:

[code]

[2017-06-08 18:36] #22 closed

[2017-06-08 18:36] #21 closed

[2017-06-08 22:43] Daltron commented on #19
Included in v1.3.0 release! 🎉

[2017-06-08 22:43] #19 closed

[2017-06-08 22:46] Daltron commented on #16
Included in [v1.3.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.3.0) release! 🎉

[2017-06-08 22:46] #16 closed

[2017-06-08 22:46] Daltron commented on #15
Included in [v1.3.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.3.0) release! 🎉

[2017-06-08 22:46] #15 closed

[2017-06-08 22:48] Daltron commented on #10
@egenvall This is still on my todo list and I have not forgotten about it. I'm currently weighing different options and seeing what the best approach might be.

[2017-06-09 00:24] nick-iCars commented on #16
Nice work, dude! Thanks again!

[2017-06-09 01:32] nick-iCars commented on #16
Was just looking to update my project using the new features and I'm running into an issue, I was going to just submit a pull request but I'm not 100% sure what is going on, figured I'd ask. So I ran pod update and pod install it looks like it sees the update and installs it (pod install logs: 'Using NotificationBannerSwift (1.3.0)'), however when I try and use the show(from:) method it does not a

[2017-06-10 05:28] younatics opened #23 "MarqueeLabel.type = left have to be changed in cocoa pods"
Please check cocoa pods gives me titleLabel!.type = .left

[2017-06-10 13:09] Daltron commented on #23
It appears that when I uploaded a new version to CocoaPods, there is some kind of caching issue that is taking place. I have filed an [issue here](https://github.com/CocoaPods/CocoaPods/issues/6790) and will be watching it closely so this issue can be resolved as it is critical.

In the meantime as a temporary fix, change the way you add `NotificationBannerSwift` to your podfile like this:

[code]

[2017-06-10 13:09] Daltron commented on #16
@nick-iCars Let's take this conversation over to #23

[2017-06-11 06:32] Daltron commented on #23
@younatics @nick-iCars I just pushed a new version 1.3.1 to CocoaPods that fixes this issue. You can change your Podfile back to `pod NotificationBannerSwift` and rerun `pod update NotificationBannerSwift` inside your project directory and you should be good to go.

Thanks for your patience! 😄

[2017-06-11 06:32] #23 closed

[2017-06-12 15:33] nick-iCars commented on #23
Nice! I will check it out. Thanks 😄.

[2017-06-13 23:07] Daltron commented on #10
Included in [v1.3.2](https://github.com/Daltron/NotificationBanner/releases/tag/1.3.2) release! 🎉

[2017-06-13 23:07] #10 closed

[2017-06-13 23:07] #20 closed

[2017-06-14 06:24] harmjanr opened #26 "Multiline subtitle"
Would it be possible to have a multiline subtitle, instead of a horizontal scrolling?
The height of the banner should auto size then..

[2017-06-14 06:31] harmjanr commented on #26
I just read #14, too bad!

[2017-06-14 06:31] #26 closed

[2017-06-14 07:32] phynet commented on #20
Sorry didn't answer sooner, I wasn't able to keep up with the project that was using your pod.

Indeed was cocoapods's outdated repo. Thanks for the answer, now is working :)

[2017-06-14 13:21] Daltron commented on #20
@phynet Thanks for reporting back! Glad to hear that was the issue. 😄

[2017-06-15 21:25] danlevy1 opened #27 "'NotificationBanner' has no member 'haptic'"
I am working with Xcode 9 Beta 1 (maybe this is just a problem with code 9) and I cannot add the line `banner.haptic = .heavy` without getting the error "Value of type 'NotificationBanner' has no member 'haptic.'"

[2017-06-15 21:41] Daltron commented on #27
Hi @danlevy1! 😄 Are you using CocoaPods or Carthage and what version are you using?

[2017-06-15 21:44] danlevy1 commented on #27
I am using CocoaPods with version 1.2.0.

[2017-06-16 00:40] Daltron commented on #27
@danlevy1 Haptic feedback wasn't introduced until version 1.3.0. Try running a pod update to update to the latest version and let me know if that solves your problem.

[2017-06-16 01:52] danlevy1 commented on #27
You're right - thanks!

[2017-06-16 01:52] #27 closed

[2017-06-16 01:56] danlevy1 opened #28 "Haptic Feedback Crash"
I have a `NotificationBanner` appear on startup if the user is not connected to the internet. If the code is not called on the main thread, the app crashes with `*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'ERROR: -[_UIFeedbackHapticOnlyEngine _deactivate] called more times than the feedback engine was activated'`. I fixed it by putting all of the `Not

[2017-06-16 02:09] Daltron commented on #28
@danlevy1 I'm going to close this as this is not an issue with NotificationBanner. When updating the UI, you should always be doing so on the main thread. This, when you are trying to show a banner, it should be on the main thread, thus, the haptic will automatically be called on the main thread as well.

[2017-06-16 02:09] #28 closed

[2017-06-17 22:27] syedtariq2013 opened #29 "banner.autoDismiss is not available in the pod version"
Trying to use banner.autoDismiss and it was not recognized. I checked the code that was installed by pod and it does not have any reference to autoDismiss. It is in the github version

[2017-06-17 22:45] Daltron commented on #29
Hi @syedtariq2013! 😄 Sounds like you don't have the up to date source files. Try running `pod update NotificationBannerSwift` and that should fix your issue.

[2017-06-19 07:34] syedtariq2013 commented on #29
Hi Daltron - Pods pulls in v1.2.0 which is quite old. Even after updating the repo pod still picks up v1.2.0. I realize I can always copy 1.3.2 but using pods is so much more convenient. It is possible I need to refresh my pods knowledge.

BTW, it is a beautifully written and very useful library.

[2017-06-19 13:08] Daltron commented on #29
@syedtariq2013, what does your Podfile look like? Are you telling it to specifically pull down 1.2.0? If you are not, try updating your specs repo by running the following command `pod repo update`. After that is completed, then try running `pod update NotificationBannerSwift` and see if version 1.3.2 is downloaded.

[2017-06-19 14:39] syedtariq2013 commented on #29
Hi Daltron - I resolved it by asking specifically for 1.3.2 in the Podfile. (pod 'NotificationBannerSwift', '~> 1.3.2’). This is completely ok as far as a procedure is concerned.

Thank you for your help.

[2017-06-19 14:50] #29 closed

[2017-06-19 17:26] Daltron commented on #29
@syedtariq2013 Glad to hear! Enjoy! 😄

[2017-06-20 17:08] scottcc opened #31 "Banners from the bottom?"
Looks like a great library here. I'm considering a strange use case - may not fit with your intent, but figure I'll ask here. Feel free to close this feature request if it's too odd.

I'd like to have a custom view animatable from the bottom upwards. This alone would be good, but the *ultimate* trick-shot would be to tie it to a scroll view such that it only animates in when the scroll view is not

[2017-06-20 18:34] Daltron commented on #31
Hi @scottcc! 😄 Adding the ability to animate from the bottom is actually on my things to do before the next CocoaPods version! 👍 However, since your scroll view feature request is too specific of a use case, I am going to have to decline to include that in a feature release unless quite a few other users want the exact same functionality. You should most definitely be able to accomplish this yours

[2017-06-22 22:38] Marlon-Monroy opened #32 "delegates?"
Would be nice to know when the alert has been dismiss or is about to show.

[2017-06-23 13:41] Daltron commented on #32
Hi @Marlon-Monroy! 😄  I think this is a great idea. I'll add it to the next release! 👍

[2017-06-23 14:16] scottcc commented on #31
Thanks @Daltron - no problem on doing it myself with scroll events (I'll debounce it too). Can't wait to see the from-the-bottom work! I'm hoping to use a custom view (which has a couple labels, image and a button on it). Exciting!

[2017-06-23 14:18] Daltron commented on #31
@scottcc I'll try to get this release within the next week or so! I'll let you know when I release! 👍

[2017-06-23 14:43] scottcc commented on #31
Heck YES. Happy to try out branches via direct pod pointers to commits too.  🍻

[2017-06-25 04:03] Daltron commented on #32
@Marlon-Monroy Included in [v1.4.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.4.0) release! 🎉

[2017-06-25 04:03] #32 closed

[2017-06-25 04:03] Daltron commented on #31
@scottcc Included in [v1.4.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.4.0) release! 🎉

[2017-06-25 04:03] #31 closed

[2017-06-27 14:15] scottcc commented on #31
Wow! I'll be working on this _today_. Thanks again @Daltron.

[2017-06-27 21:04] scottcc commented on #31
First pass was solid, everything seems to work as advertised. I might play with the animation timeframes and possibly put a debouncer on when I show it but that's the fine touches. Thanks again!

[2017-06-27 21:30] Daltron commented on #31
@scottcc Thanks for reporting back! I'm glad to hear it fits your needs. Let me know if there is anything else I can help you with! :smile

[2017-07-06 00:35] kylemay-gridstone opened #34 "Multiline subtitles"
I've read PR #14, but I think there's an alternate solution by offering a property or something like `useMarquee` and using a standard UILabel. Unfortunately at the moment I'm going to have to use a different library because I need multiline.

[2017-07-06 00:51] Daltron commented on #34
Hi @kylemay-gridstone! 😄 Sorry there is no multiline subtitles at this time. As more and more people are starting to request it, it is probably going to be one of the next features I support when I have the time to develop it. Until then, I encourage you to use whatever library best fits your needs. Thanks!

[2017-07-06 23:33] dsarfati opened #35 "NotificationBanner not showing in new SpriteKit app"
I'm trying to show a welcome message when my SpriteKit game opens. I tried to use the example NotificationBanner in the `override func viewDidLoad()` of the GameViewController, but nothing shows up. I discovered that if I have 2 banners show, then the 2nd one will show up after a delay (~5sec). Im assuming that this delay is due to the 1st one being shown. How should I deal with this? Call it from

[2017-07-07 01:44] Daltron commented on #35
Hi @dsarfati! 😄 Put your banner code in the view controller's viewDidAppear method and I bet that fixes your problem. Since viewDidLoad is called not when the view controller's view has yet to appear , it doesn't make since to show a banner just quite yet. Let me know if that helps!

[2017-07-07 02:10] dsarfati commented on #35
Thanks for the info, will definitely give that a try. I figured it was in the wrong part of the lifecycle.

[2017-07-07 02:57] dsarfati commented on #35
That seems to have done the trick. Thanks for the quick response!!

[2017-07-07 02:57] #35 closed

[2017-07-07 13:10] Daltron commented on #35
@dsarfati awesome! Thanks for reporting back!

[2017-07-10 17:48] Yoloabdo opened #36 "Right to left error"
Hello, is it available to view right to left text and make all view from right to left?

[2017-07-10 19:04] scottcc opened #37 "Allow offset?"
I have a second use case where I need the notification to appear below a view (which has a search bar). I've tried using a container view (essentially a dummy view) to then pass the `on viewController:` optional `UIViewController` parameter - it has a rather funny effect of animating from where I want, but goes up instead of down and disappears before it finishes its animation.

I'm using a custom

[2017-07-10 19:08] Daltron commented on #36
Hi @Yoloabdo! 😄 To answer the first part of your question:

[code]
That will scroll the text from right to left.

If you could explain a little bit more for the second part of your question, it would be greatly appreciated as I don't know exactly what you are asking. Thanks!

[2017-07-10 19:17] Daltron commented on #37
Welcome back @scottcc! 😄  If you quickly mock up what you are wanting via photoshop, paint, etc... to give me a visual understanding, I should be able to better assist you. 😄 It doesn't have to be anything fancy!

To answer the second part of your question, no I do not believe it makes sense to make those variables explicitly unwrapped optionals. I know that when I access them, that they are going

[2017-07-10 20:03] scottcc commented on #37
Actually - I was suggesting they might be just plain optionals - Due to my debouncing I found one crash (my error) where I called `dismiss()` on a banner I'd not called `show()` - that code line hits one of those explicitly force-unwrapped vars and dies. Anyway - you want to keep them explicit, I'm ok with that.

As for what I'm (thinking) would be good would be an offset (default of zero) `CGFloa

[2017-07-10 22:11] Daltron commented on #37
@scottcc thanks for the picture, that completely helps me figure out what you are wanting. I might have to think more about the best way to implement this as I assume you are going to want the banner to animate in from behind that search bar? The problem with this is that search bar will need to be moved to the front of the subview hierarchy of your view before the banner shows or else the banner

[2017-07-11 06:47] dsarfati opened #38 "Carthage Fails to Build"
I have decided to try and use Carthage for our new framework, but when I use `github "Daltron/NotificationBanner" ~> 1.4.0` I get several build errors. I was able to get everything working with `github "Daltron/NotificationBanner" == 1.3.3`. Is this something I'm messing up or is there a problem with the latest?

[2017-07-11 12:41] scottcc commented on #37
Yeah, I was thinking about the animation aspects. I might try out something by having the view height animate from 0 -> target as opposed to animating the y position entirely. I'll let you know how it works out (or doesn't).

[2017-07-11 13:44] Daltron commented on #38
@dsarfati What are the build errors you are receiving specifically? Attach pictures if you are able to as that will tremendously help. Thanks!

[2017-07-11 15:24] dsarfati commented on #38
I don't have any experience with Carthage either. ==1.4.0 fails as well.  [Here](https://gist.github.com/dsarfati/86b0ded076aca4fe5ff596853a094658) is the log file from the failed build. I created a sample project [here](https://github.com/dsarfati/NotificationBannerFramework) so you can try it out. For other reasons, I have decided to stay with CocoaPods, but I wanted to let you know in case othe

[2017-07-11 16:25] scottcc commented on #37
Ok - I seem to have a working example on a dev branch at the moment, going to move my Podfile to that and see if it'll do what I need: https://github.com/scottcc/NotificationBanner/tree/dev

[2017-07-12 03:22] purkylin commented on #38
same issue

[2017-07-12 03:34] purkylin commented on #38
[code]

[2017-07-12 03:42] purkylin commented on #38
I found the file BannerPositionFrame.swift is not included  in the Project

[2017-07-12 04:20] #38 closed

[2017-07-14 14:23] Daltron commented on #36
Please feel free to reopen if this doesn't solve your issue! Thanks!

[2017-07-14 14:23] #36 closed

[2017-07-21 13:24] morgan-legal opened #41 "iOS Minimum Version 9.0 + Tag"
Hi Dalton,

First of all, kudos on the lib, easy to use and does everything that I need!

I'm creating an issue for the minimum iOS version of the project which is actually 9.3 instead of 9.0 (as documented in the readme). I've forked and tested it and it won't create any issue.

If you do change the minimum iOS version, is it possible to create a new tag (1.4.1). I'm using Carthage and I'm not a

[2017-07-21 23:09] Daltron commented on #41
Hi @morgan-legal! 😄 Feel free to open a PR request if your wanting this feature. I'm not familiar with Carthage and didn't setup NotificationBanner to work with Carthage so there must be a minimum deployment target of 9.3 somewhere.  I know the minimum for CocoaPods is in fact 9.0. Feel free to change it to 9.0 if your able to get it to work that low 👍

[2017-07-23 02:12] #41 closed

[2017-07-26 06:06] Yoloabdo commented on #36
I tried to set it but didn't work, RTL languages support is what I meant, the text is always on left, thanks

[2017-07-26 14:48] Daltron commented on #36
@Yoloabdo I'm not quite sure what you mean. Could you elaborate more or provide a detailed picture explaining the desired functionality you want please?

[2017-08-02 09:42] gsmeros opened #43 "Adjust subtitle font to fit"
I have a relatively big subtitle but trying to resize the 'MarqueeLabel' wont work:
[code]

Can I change the font of the label so it can fit my text in one or two lines ? Thanks

[2017-08-02 13:20] VictorApeland commented on #36
Languages like Arabic read right to left, not left to right.
![screen shot 2017-08-02 at 15 18 24](https://user-images.githubusercontent.com/28315844/28875442-e02daa1a-7795-11e7-8aa9-bcbb81509e91.png)

[2017-08-02 18:47] Daltron commented on #43
Hi @gsmeros! 😄 `adjustsFontSizeToFitWidth` and `self.numberOfLines` won't work with MarqueeLabel since it scrolls. I might add support for multiple line subtitles in the future but am correctly locked down with other development commitments. You can keep up with the status here #34

[2017-08-02 18:47] #43 closed

[2017-08-02 18:49] Daltron commented on #36
@VictorApeland Thanks for explaining this. As of right now, I do not plan on supporting this but that could change if more people want this capability.

Thanks! 👍

[2017-08-03 06:28] ashokkumars opened #44 "Remove banners added to the Queue"
There should be a way we should be able to remove the banners lined up in the BannerQueue. This is in consideration that, I added some items to the queue and I have another notification coming up, which will take highest priority and displaying the banners in the queue is of no use. I've created a patch file as well with the necessary methods.

You can access the new methods in two ways.

1. If th

[2017-08-03 17:02] Daltron commented on #44
Hi @ashokkumars! 😄 Are you familiar with the `queuePosition` property when calling `banner.show()`? Or are you stating that you may have a notification that makes all other banners on the queue **completely** irrelevant, thus they should never be shown?

[2017-08-03 17:09] ashokkumars commented on #44
Hey @Daltron. I am aware of the **queuePosition**. But lets consider this case. I am calling 3 or 4 webservices in a class and all of them for some reason gets failed. All the error messages will be added to a queue. But before all banners gets shown (from the queue), if the device network gets disconnected, I need to show another banner which is for the network disconnect. After this banner is sh

[2017-08-03 17:50] Daltron commented on #44
@ashokkumars Ok perfect, thanks for explaining! I just added this functionality to the [v1.4.1](https://github.com/Daltron/NotificationBanner/releases/tag/1.4.1) release! 🎉

[2017-08-03 17:50] #44 closed

[2017-08-18 05:03] ed-mejia opened #45 "UITableViewController issue"
Hi there, great lib 👍

I'm having an issue using it with a UITableViewController, if I scroll the table the banner does not show at the bottom of the navBar, seems the banner scrolls with the tableView all the way to the top.

Any ideas?

[2017-08-18 05:10] Daltron commented on #45
Hi @ed-mejia! 😄 Could you send me a working example replicating this issue so I can see whats going on?

[2017-08-20 00:56] ed-mejia commented on #45
Hi @Daltron !!!,

I couldn't put together a sample _(bit short of time)_, but I can explain what's the issue and how I did  work around it.

calling `banner.show(on: target)` will cause the banner view to be added as a subView of the target viewController, that's ok if you are dealing with UIViewControllers but if you have a UITableViewController or UICollectionViewController the `view` will be a

[2017-08-20 19:43] Daltron commented on #45
@ed-mejia Thanks for the in depth explanation. I understand what is going on. What I what do if I were you would be create a custom `UIView` object and put your table view inside that and then assign that custom view like so `viewController.view = customView`.

[2017-08-24 02:24] kuyazee opened #46 "iOS 8 Support"
Will this project have iOS 8 support in the future?

[2017-08-24 02:44] Daltron commented on #46
Hi @kuyazee! 😄 I have zero plans on supporting iOS 8 unfortunately. There just isn't enough users on iOS 8 to make it worthwhile. According to Apple, less than 3% of iOS users use a version below iOS 9. I hope that is understandable! Thanks! 👍

[2017-08-24 02:44] #46 closed

[2017-08-24 03:19] kuyazee commented on #46
Thank you for the very fast response, much appreciated 💯

[2017-09-01 10:42] bizibizi opened #47 "I alreade have SnapKit, how to install it by PODS?"
[!] Unable to satisfy the following requirements:

- `SnapKit (~> 3.0.0)` required by `Podfile`
- `SnapKit (= 3.0.2)` required by `Podfile.lock`
- `SnapKit (~> 3.2.0)` required by `NotificationBannerSwift (1.0.0)`

[2017-09-01 13:15] Daltron commented on #47
Hi @bizibizi! 😄 You need to remove the SnapKit dependency in your Podfile. What that log is telling you is that NotificationBanner requires version 3.2.0 but you have specified in your Podfile to use version 3.0.0.

[2017-09-01 13:15] #47 closed

[2017-09-06 03:26] japanconman opened #48 "Backward supporting Objective C?"
Any plan to backward support Objective C as well?

[2017-09-06 03:36] Daltron commented on #48
Hi @japanconman! 😄  Please check out #3!  But to answer your question directly, I do not.
Thanks!

[2017-09-06 03:36] #48 closed

[2017-09-10 10:57] firvorski commented on #44
Hi, it looks like removeAll() is not there any more in 1.4.2. I also thought it would be quite useful to be able to remove all queued notifications. Is there a chance it will be put back or should we stick with 1.4.1 for now?

[2017-09-10 18:29] Daltron commented on #44
Hi @firvorski! 😄 This was an accidental mistake! It is now included and public in the 1.4.3 version! Thanks for bringing this to my attention! 👍

[2017-09-10 19:18] firvorski commented on #44
You da man!
Thanks a lot.

[2017-09-15 19:39] JoniVR opened #49 "iPhoneX safe area not respected."
Hi Daltron!

You are probably already aware of this issue, but I thought it wouldn't hurt to just post it here.
So I tested this library for my project on the iPhone X, and the notifications don't seem to respect the safe area, causing it to be hidden behind the notch.

I'd fix it myself but I'm not that good with SnapKit and code constraints in general.

Thanks for your great work!

Best regards,

[2017-09-16 02:49] Daltron commented on #49
Hi @JoniVR! Thanks for reporting this! I was not aware of this. I will look into this. In the meantime, if you could post a picture, that would be greatly appreciated!

[2017-09-16 10:57] JoniVR commented on #49
Sure, no problem. 😁

![example](https://user-images.githubusercontent.com/7591717/30511669-71365c26-9ade-11e7-81fe-9cb9f61baeed.jpeg)

[2017-09-18 17:53] Daltron commented on #45
Going to close for now due to no activity.

[2017-09-18 17:53] #45 closed

[2017-09-18 22:02] jenjia commented on #49
Let me add - because it may be related - that also for iOS 11 the StatusBarNotificationBanner appears beneath the NavigationBar.

[2017-09-19 13:22] Daltron commented on #49
@jenjia I am not able to reproduce. Are you sure your not showing the banner on a view controller? That would cause it to appear beneath the navigation bar.

[2017-09-19 13:29] Daltron commented on #49
@JoniVR I'm still thinking about the best way to go about this. Status bar notifications are basically useless now because that safe space covers it up. Still kind of blows my mind that Apple did this as it is such poorly designed in my opinion. We'll find away around it though 👍

[2017-09-19 13:58] Daltron commented on #49
@JoniVR would you be opposed to these implementations in any way?

<img width="399" alt="screen shot 2017-09-19 at 8 57 11 am" src="https://user-images.githubusercontent.com/9689335/30596035-9b4dea60-9d18-11e7-9236-7431a3e72882.png">
<img width="405" alt="screen shot 2017-09-19 at 8 56 35 am" src="https://user-images.githubusercontent.com/9689335/30596040-9cf00baa-9d18-11e7-9415-685162e1246f.png">

[2017-09-19 14:41] JoniVR commented on #49
@Daltron Looks fine to me 👌🏻
I would also test to see if banners with images don't get cut off by the rounded corners. If you are using the SafeAreas Apple provided it should be fine though :)

I'm personally not sure what to think about it, I think they should've just blacked out the statusbar and let it always be visible (unless the dev disables it). But whatever, so be it, I guess there's a lot

[2017-09-19 17:50] Daltron commented on #49
@JoniVR Included in [v1.4.4](https://github.com/Daltron/NotificationBanner/releases/tag/1.4.4) release! 🎉 Thanks again for bringing this to my attention!

[2017-09-19 17:50] #49 closed

[2017-09-20 02:50] halfwaychair opened #51 "Please update to SnapKit 4.0.0"
![screen shot 2017-09-19 at 10 49 08 pm](https://user-images.githubusercontent.com/31868672/30624683-dbccf9ea-9d8c-11e7-8def-1147220828a5.png)

[2017-09-20 03:11] Daltron commented on #51
Hi @halfwaychair! 😄 Can you provide a reason please?

[2017-09-20 14:45] YuriSolodkin commented on #51
I think the reason is that it does not compile with Swift 4

[2017-09-20 14:46] Chiefinho commented on #51
Hi, I am in the same situation. Including NotificationBanner in a swift 4 project means it will not compile as SnapKit 3.2 is not compatible with swift 4

[2017-09-20 14:49] Daltron commented on #51
@YuriSolodkin @Chiefinho Swift 3 and Swift 4 work interchangeably. I think the problem is you are compiling all your pods to use Swift 4. You need to tell your pod file which ones shouldn't be compiled into Swift 4. As a temporary fix, you can do this and NotificationBanner will not be compiled into swift 4

This can go at the bottom of your Podfile
[code]

[2017-09-20 14:51] Daltron commented on #51
Please feel free to open up a pull request with Swift 4 compatibility if you need it right away! 😄 It might be a few days before I can get to this.

[2017-09-20 15:26] Chiefinho commented on #51
Thanks, that helped a lot. I did need to add:
[code]
to get it to compile

[2017-09-20 15:30] Daltron commented on #51
@Chiefinho glad to hear! I will try to get everything ported over to Swift 4 when I have more time.

[2017-09-21 07:04] balrajOla opened #52 "New version 1.4.5 is crashing in my app"
<img width="882" alt="screen shot 2017-09-21 at 12 33 40 pm" src="https://user-images.githubusercontent.com/12622119/30682949-2268afb0-9ec9-11e7-932d-0b4cb7ea4bd0.png">

Please help

[2017-09-21 12:40] Daltron commented on #52
Hi @balrajOla! I'm going to need a little bit more information. Are you able to cosistently reproduce? Also, it looks like that line is a breakpoint, not a crash. Any further details would be helpful!

[2017-09-21 23:35] halfwaychair commented on #51
Compiled, thank you

[2017-09-21 23:35] #51 closed

[2017-09-23 13:41] FunProject opened #53 "SnapKit v4 for Swift 4"
Hello,
Please update SnapKit dependency to v4.0 to be Swift 4.x and iOS 11 compatible.
Right now I cannot build the app.
Thanks

[2017-09-23 15:32] Daltron commented on #53
Duplicate of #51

[2017-09-23 15:32] #53 closed

[2017-09-24 03:17] Daltron commented on #53
@FunProject Swift 4 support is now available in [v1.5.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.5.0) release! 🎉

[2017-09-24 03:18] Daltron commented on #51
@FunProject Swift 4 support is now available in [v1.5.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.5.0) release! 🎉 You should no longer need to have the post_installer method run for NotificationBanner. If you have other pods that require the swift version to be 3.2, it will still need to remain in place.

[2017-09-24 03:20] Daltron commented on #52
Going to close this as I do believe the issuer was confusing the breakpoint for a crash.

[2017-09-24 03:20] #52 closed

[2017-09-24 10:16] FunProject commented on #53
Great! Thanks 👍

[2017-09-24 18:50] AAAstorga opened #54 "Unexpectedly found nil when setting up banner"
Hello,

I am using Reachability with your NotificationBanner. For example, when there is no internet, I am displaying a status bar notification saying "No Internet Connection". I am facing this very odd bug.

At the top of my ViewController I declare a variable
[code]
I also have a function that fires when reachability changes. It will go off when you go from online -> offline and vice versa.

[co

[2017-09-24 19:28] Daltron commented on #54
Hi @AAAstorga! 😄 Your code looks fine. Does this happen every time you run your project? This sounds like it might be a derived data issue. If you could delete your derived data folder and report back, that would greatly appreciated! 👍

[2017-09-24 19:47] Daltron commented on #54
@AAAstorga I just pushed a [1.5.1](https://github.com/Daltron/NotificationBanner/releases/tag/1.5.1) release that you can try out. I still think derived data has something to do with your scenario since your project is locked in portrait mode, however this release fixes an edge case around the orientation notification.

[2017-09-24 19:57] AAAstorga commented on #54
@Daltron Thank you so much! I tried deleting derived data, but no luck. I just saw you released 1.5.1 but my project is on Swift 3.2. Is the only way to get this change is to update my project to Swift 4?

Thanks!

[2017-09-24 20:29] Daltron commented on #54
@AAAstorga Swift 4 and Swift 3.2 are interchangeable with each other. Just include this at the bottom of your podfile:

[code]
In case your wondering, NotificationBanner uses SnapKit and MarqueeLabel as dependencies so they need to built in swift 4.0 as well!

[2017-09-24 21:02] AAAstorga commented on #54
Ahh! This fixed it. Thank you so much for this! Teamwork is the best work. I appreciate it the help! Awesome pod by the way

[2017-09-24 21:02] #54 closed

[2017-09-25 03:07] trianglepixel opened #55 "UIFont has no member Weight"
UIFont.Weight.Bold doesn't compile and needs to be UIFontWeightBold

StatusBarNotification.swift
`titleLabel!.font = UIFont.systemFont(ofSize: 12.5, weight: UIFontWeightBold)`

NotificationBanner.swift
`titleLabel!.font = UIFont.systemFont(ofSize: 17.5, weight: UIFontWeightBold)`

[2017-09-25 03:12] trianglepixel opened #56 "Banner shows under status bar"
Both NotificationBanner & StatusBarNotificationBanner show underneath status bar.

[2017-09-25 09:39] trianglepixel commented on #56
[code]

I changed the above to

[code]

and now its on top, but I'm not sure if thats correct.

[2017-09-25 13:26] Daltron commented on #56
Hi @trianglepixel! 😄 There is no need to change the code for what you are wanting to do. As the README states:

**By default, each banner will be displayed on the main application window. If you are wanting to show a banner below a navigation bar, simply show on the view controller that is within the navigation system:**
[code]

So what you need to do is forgo the `on` parameter and your banner wi

[2017-09-25 13:26] #56 closed

[2017-09-25 13:27] Daltron commented on #55
@trianglepixel Sounds like you are on a Swift 3.x project. The latest NotificationBanner release is compiled to work with Swift 4. In your pod file, make sure your NotificationBanner pod looks like this:

[code]

[2017-09-25 13:27] #55 closed

[2017-09-25 19:52] trianglepixel commented on #55
@Daltron I had my compiler set to swift 4 and I had updated my pod the pod then re upgraded and it seems to be working now. Thanks.

[2017-09-25 19:52] trianglepixel commented on #56
@Daltron Yes I see the issue now. Thanks.

[2017-09-27 06:40] mohsenasm opened #57 "Compile error for release 1.4.4 on Xcode 9 and Swift 3.2"
Compile error for release 1.4.4 on Xcode 9 and Swift 3.2:
`/NotificationBanner/Classes/StatusBarNotificationBanner.swift:30:12: Use of unresolved identifier 'NotificationBannerUtilities'`

<img width="1131" alt="screen shot 2017-09-27 at 10 03 13 am" src="https://user-images.githubusercontent.com/9164422/30899239-f6a89c62-a36b-11e7-9f68-5233ba65372e.png">

[2017-09-27 07:19] mohsenasm commented on #57
Release 1.4.2 seems to work though.

[2017-09-27 12:53] tentenlee100 opened #58 "Carthage update failed"
xcode 9 macOS 10.12

error log:
[code]

[2017-09-27 13:27] Daltron commented on #58
Hi @tentenlee100! 😄 Looks like you are on a Swift 3.x project. Please see #55

[2017-09-27 13:28] Daltron commented on #57
Hi @mohsenasm! 😄 I'm not experienced with Carthage. Any chance you can take a look and fix this problem? It just looks like the  `NotificationBannerUtilities` class isn't added to the list of sources to be compiled.

[2017-09-27 13:33] tentenlee100 commented on #58
@Daltron NO  this is swift 4.0 project

<img width="511" alt="2017-09-27 21 31 04" src="https://user-images.githubusercontent.com/11982625/30916231-82d3436c-a35e-11e7-9ca5-92b95ff762e1.png">

[2017-09-27 13:34] Daltron commented on #58
@tentenlee100 You are going to have to provide me with a little bit more information. With the information you have given me, it's not easy to understand what is going on on your end. Screenshots of the errors would be helpful.

[2017-09-27 13:50] tentenlee100 commented on #58
@Daltron
sorry, I'm weak in english , this is my errors.
now , I change to use cocoaPods to use . it was worked.

error :
[code]
the log file

[code]

[2017-09-27 13:55] tentenlee100 commented on #58
in Cartfile

`github "Daltron/NotificationBanner" "master"`

[2017-09-27 13:56] Daltron commented on #58
If you don't care about using Cocoapods over Carthage, I would use Cocoapods. Cocoapods is more widely accepted and I'm able to provide a lot more help if you have an issue with cocoapods

[2017-09-27 14:36] tentenlee100 commented on #58
if I open /Carthage/Checkouts/NotificationBanner/NotificationBanner.xcodeproj to build settings set SWIFT_VERSION to 4.0 , save and close.

run `carthage build NotificationBanner --platform ios`
it was worked done , no issues .

maybe change the NotificationBanner.xcodeproj build settings SWIFT_VERSION to 4.0 ?

[2017-09-27 14:37] Daltron commented on #58
@tentenlee100 Ahhh that could be it. Do you mind creating a PR for this?

[2017-09-27 14:53] Daltron commented on #58
#60 fixes this 🎉 Thanks again @tentenlee100! 👍

[2017-09-27 14:53] #58 closed

[2017-09-29 14:38] Daltron commented on #57
Fixed by #60

[2017-09-29 14:38] #57 closed

[2017-10-01 14:28] pselok opened #61 "toolBar view hides when banner appears"
Hello, awesome library!
I have a problem: when keyboard with toolbar is active and banner appears, toolbar disappears until banner dismissed. Sometimes when i type something and banner appears again toolbar does not disappears. I do simple banner.show() so banner displays on main app window. If i show banner on my tabbarcontroller everything is fine except one thing - banner shows under status bar

[2017-10-01 14:38] Daltron commented on #61
Hi @pselok! 😄 I know exactly what you are talking about as I had this scenario happen with one of the projects I actively work on. Unfortunately, there was not an elegant solution to place inside NotificationBanner directly, so I had to do something custom in my application in order to handle this scenario. I was using an inputAccessoryView on the keyboard instead of a toolbar, so I hope this solu

[2017-10-01 15:04] pselok commented on #61
Exactly! i'm using some new library for my chat and have the same thing in my chat controller. Seems like your solution does not work for me :(
    `let window = UIApplication.shared.delegate?.window!` - right?
I do receive a notification but `window?.windowLevel = UIWindowLevelStatusBar + 2` does not work

[2017-10-01 15:06] pselok commented on #61
Ah it's about when i do `banner.show(on: tabBarController) `?

[2017-10-01 15:26] Daltron commented on #61
@pselok So you don't want to change the main UIApplication's window, you want to change the window the keyboard view is actually on. I'm not sure off the top of of my head if your able to access the window from a UIToolbar object though. Is this a project you are comfortable with sending to me? If so, I should be able to tell you relatively quickly if its possible with public API's.

[2017-10-01 15:35] pselok commented on #61
Thank you so much, it solved!
i did `messageInputBar.window?.windowLevel = UIWindowLevelStatusBar + 2`

[2017-10-01 15:35] #61 closed

[2017-10-01 15:48] Daltron commented on #61
@pselok Awesome! Glad to hear! 👍

[2017-10-06 10:27] Izzywizz opened #62 "SnapKit dependencies causing errors within code whilst using NotificationBannerSwift"
I believe that NotificationBannerSwift dependencies require the use of SnapKit (~> 3.2.0) but that version is only for Swift 3, SnapKit latest Swift 4 version SnapKit (~> 4.0.0) must be used.
The problem is I received is when trying to use NotificationBannerSwift in Swift 4/ Xcode 9 it uses this old version of SnapKit.
I have tried to install SnapKit separately but the version conflict awn trying

[2017-10-06 10:30] #62 closed

[2017-10-06 10:30] Izzywizz commented on #62
Sorry my mistake, forgot to hit pod update

[2017-10-07 17:16] mateg opened #63 "Wrong version of Snapkit"
Installed the pod to my project (written in Swift 4) and it won't work because 'NotificationBanner' uses Snapkit 3.2. Snapkit 4.0 is required for Swift 4 (see https://github.com/SnapKit/SnapKit).

Please fix asap and thanks for an amazing pod otherwise, super excited to use it.

[2017-10-07 17:52] Daltron commented on #63
Hi @mateg! 😄 Can you show me your podfile please? The latest version of NotificationBanner is Swift 4 compatible so this is definitely something on your end. However, I'd be more than happy to help you figure it out!

[2017-10-08 08:58] mateg commented on #63
Hello Daltron, I appreciate that very much.
I followed the install instructions but it seems like the pod installs the wrong version of SnapKit for me. I'm unable to build the project, see this image ->
![image](https://user-images.githubusercontent.com/17149695/31315324-976c6f9a-ac16-11e7-9770-d3dc46dfc579.png)

My podfile:
`
platform :ios, '9.0'
use_frameworks!

target 'Sverigespelet' do

    po

[2017-10-08 17:28] yoshisuga commented on #63
Seeing this same issue as well - i think the pod just needs to be updated to specify SnapKit 4.0.

This looks like a neat library, looking forward to it!

[2017-10-09 13:25] Daltron commented on #63
@mateg Looks like your problem is that your pointing to the wrong version. 😄 Swift4 support was introduced in the [v1.5.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.4.1) release.

[2017-10-09 13:26] Daltron commented on #63
@yoshisuga The pod does specify to use SnapKit 4.0 and I've upgraded multiple Swift 3 projects that used NotificationBanner to Swift 4 with no problems. What is the issue you are seeing?

[2017-10-09 15:48] yoshisuga commented on #63
Ah! If I specified version 1.5.0 in my Podfile, it pulled SnapKit 4.0 and it looks like all is well now.  Thanks!

[2017-10-09 15:51] mateg commented on #63
Thank you! That was it, great work! I'll let you know if I publish an app using it! :)

[2017-10-09 19:24] Daltron commented on #63
@yoshisuga @mateg Glad to hear. Enjoy! 🎉

[2017-10-09 19:24] #63 closed

[2017-10-13 18:59] drewpitchford opened #65 "Custom Font and Font Size"
Please make the font and font sizes of the banner public so an app can integrate the banner to fit their app.

[2017-10-13 19:28] Daltron commented on #65
Hi @drewpitchford! 😄 You can already do this by accessing the `titleLabel` and `subtitleLabel` variables directly!

[2017-10-13 19:28] #65 closed

[2017-10-23 18:21] magonicolas opened #67 "iPhone X StatusBarNotificationBanner size"
Hi guys, im seeing a very weird size for status message on iPhone X, I attach an image, Would this be solved? or any hint on how Can I make it smaller, because is way to big for a status message. [iPhone x Image](https://www.dropbox.com/s/qbeqtl4bjy28m8u/Screen%20Shot%202017-10-23%20at%203.16.58%20PM.png?dl=0)

[2017-10-23 18:27] Daltron commented on #67
Hi @magonicolas! 😄 What you are seeing is exactly the intended behavior. If it were to be any smaller, then part of the navigation bar and possibly part of the navigation bar title text would be showing and that would look very bad in my opinion. If you are really sold on changing it, then you are more than welcome to create a fork. You would want to take a look at the `bannerHeight` property insi

[2017-10-23 18:27] #67 closed

[2017-11-07 07:02] YauheniYarotski opened #68 "NotificationBannerUtilities is not connected to the project, v1.4.5"
Carthage during buld gives: Carthage/Checkouts/NotificationBanner/NotificationBanner/Classes/BaseNotificationBanner.swift:418:16: error: use of unresolved identifier 'NotificationBannerUtilities'
        return NotificationBannerUtilities.isiPhoneX()
If to open the project, you will see that file NotificationBannerUtilities.swift exists, but not connected.

[2017-11-07 07:18] YauheniYarotski commented on #68
here is the pr https://github.com/Daltron/NotificationBanner/pull/69
But I don't understand how to create pr for 1.4.6 tag... sorry.

[2017-11-09 13:46] amruta-sanap opened #70 "Do you have objective c version?"

[2017-11-09 14:11] Daltron commented on #70
Hi @japanconman! 😄  Please check out #3!  But to answer your question directly, I do not.
Thanks!

[2017-11-09 14:11] #70 closed

[2017-11-15 18:56] firvorski opened #71 "Status bar visible through the notification"
Is this due to my config or something else. I can't work it out. It happens most of the time, not 100% of the time but still very often.

My code is quite basic
`            self.notificationBanner = NotificationBanner(title: title, subtitle: subtitle, style: .warning, colors: CustomBannersColors())
self.notificationBanner!.show()`

![simulator screen shot - iphone 8 - 2017-11-15 at 18 50 35](http

[2017-11-15 18:59] Daltron commented on #71
Hi @firvorski! 😄 Can you give me a little bit more information please? Where are you calling the `show()` function at in your code? What version of iOS is your simulator/device running? I think if I have a little bit more information, I might be able to help you 👍

[2017-11-15 19:23] JoniVR commented on #71
@firvorski On a side note, I would use a [switch](https://developer.apple.com/ios/human-interface-guidelines/controls/switches/) for your iCloud enable/disable option.
The way it is currently implemented is wrong from a UI/UX standpoint and very confusing to users.

Just thought I should throw it out there 😜
Have a nice day everyone 😊

[2017-11-15 19:25] Daltron commented on #71
@firvorski I have a feeling you are calling the show `show()` method in viewDidLoad(). If so, move it to the `viewWillAppear` or `viewWillDisappear` and I can guarantee it will work as expected :)

[2017-11-15 19:58] firvorski commented on #71
@Daltron thank you so much for the quick response.

I am actually calling it from a callback (!) of the aforementioned switch. So, from a background thread but I make sure the actual call is on the main thread.

[code]
[code]

Xcode 9.1
Simulator 11.1 iPhone 8

[2017-11-15 19:59] firvorski commented on #71
@JoniVR thank you very much for pointing that out. I wasn't aware that I was going against the guidelines so it's good to be aware of that.

[2017-11-15 22:10] Daltron commented on #71
@firvorski It sounds like your calling `dismiss()` and `show()` too close together. I would call `dismiss()` first and then listen for the `notificationBannerDidDisappear(_ banner: BaseNotificationBanner)` delegate method to happen before calling `show()` on the next banner you are wanting to present.

[2017-11-16 10:08] firvorski commented on #71
@Daltron yep that was it. Now I show it after notificationBannerDidDisappear with a small delay and it works perfectly. Thank you very much!

[2017-11-16 17:13] Daltron commented on #71
@firvorski Glad to hear it worked!

[2017-11-16 17:13] #71 closed

[2017-11-20 15:05] MaG21 opened #72 "Have bottom banner but cant dismiss on Swipe Down"
Currently it's not possible to dismiss a banner placed at the bottom.

Maybe it would be better to implement a more general `onSwipe`, so that one can dismiss the notification regardless of the direction the user swipes the banner.

[2017-11-27 16:49] beeef opened #74 "Scroll Speed in Subtitle"
Hello,

at first I want to say that I love your NotificationBanner framework, it's absolutely nice.

I wanted to know if it's possible to slow down the scroll speed if the Subtitle label is too long? It scrolls very fast and I'm nearly not able to read it.

[2017-11-27 16:58] Daltron commented on #74
Hi @beeef! 😄 I'm glad to hear you are enjoying the library. The scroll speed of the subtitle is actually dynamically calculated based on how long the length of the subtitle text is and how long you are displaying the banner for. I do this because I want the entire text to be displayed before the banner dismisses. If you want to slow it down, I would suggest make the banner duration longer. Let me

[2017-11-27 18:52] beeef commented on #74
Nice! Yeah, that fixed my problem. Thank you very much! :)

[2017-11-27 18:53] Daltron commented on #74
@beeef No problem at all! 👍

[2017-11-27 18:53] #74 closed

[2017-11-28 14:15] #68 closed

[2017-12-07 13:19] mitulmarsonia commented on #54
HI @Daltron ,

I'm getting same issue in swift 3.2. I'm using pos ->  pod 'NotificationBannerSwift', '~> 1.4.4'

Can you please help me out ?

[2017-12-07 14:39] Daltron commented on #54
Hi @mitulmarsonia! 😄 You will see this issue occur if you are using version 1.4.4

You should change that tag to 1.5.2 and then add the `post_install` function that I mentioned a few comments above and you should be good to go! Let me know if you need any help.

[2017-12-08 06:27] mitulmarsonia commented on #54
HI @Daltron ,

When i try to install pod 1.5.2 that time SnapKit pod version also update 4.0.0 it. SnapKit pod version 4.0.0 for swift 4 so getting error for swift for i need swift 3.

[2017-12-08 14:06] Daltron commented on #54
@mitulmarsonia, like I've previously mentioned, Swift 4 and Swift 3 are interchangeable. You just need to tell your post_install method to build in Swift 4.

[2017-12-20 11:23] riclage commented on #43
@Daltron Would you be open to a contribution to add multi-line support? And how do you think the implementation should be done? I could make a PR for it once we agree on an approach.

[2017-12-20 11:26] riclage opened #77 "PR to support multiple lines on title and subtitle?"
Following other issues posted here (e.g., #14, #34 and #43), I would like to propose to work on a PR to add support for multiple lines on the banner text. Would that be possible? And if so, how do you think the implementation should be done?

Once we agree on one approach, I can work on the implementation and submit the PR.

Thanks!

[2017-12-21 18:18] Daltron commented on #77
Hi @riclage! 😄 I'm going to try to find some time next week to implement this. Stay tuned!

[2018-01-04 15:46] james-ff opened #78 "How to keep banner up until User Dismissal?"
Hello,

How would I go about setting up the status bar banner such that it would remain until dismissed (tapped / swiped) by the user?

I see that the autoDismiss bool when set to false disables the dismiss actions provided to the user, this is the opposite of what I am looking for in my case.

Many Thanks

[2018-01-04 15:52] Daltron commented on #78
Hi @james-ff! 😄 If you look at what happens when the `autoDismiss` property is set inside the [BaseNotificationBanner.swift](https://github.com/Daltron/NotificationBanner/blob/b1b450394832eb34e575ae1a13590f9ab7d3a0a0/NotificationBanner/Classes/BaseNotificationBanner.swift) class, you will see that `dismissOnTap` and `dismissOnSwipeUp` are set to false if `autoDismiss` is also set to false. All you

[2018-01-04 16:40] james-ff commented on #78
I see, undo the side effects of setting autoDismiss to false once it has been set. Thanks!

[2018-01-04 16:40] #78 closed

[2018-01-05 20:42] btelintelo opened #79 "StatusBarNotificationBanner iPhoneX height is extra big by default"
Can we make it come down a little to avoid the notch but not so far down that is a big banner?  For example, a height of 50px looks great, but the current height is 88px and is massive compared to the 20px height on all other devices.  For now I can set a custom height on iPhone x, but it would be nicer to make this smaller by default.

[2018-01-05 21:19] Daltron commented on #79
Hi @btelintelo! 😄 Could you send me a picture of what a banner looks like at 50px please? I tried numerous different sizes and came to the conclusion that extending down to the end of the navigation bar looked best.

[2018-01-07 01:45] HackShitUp commented on #79
@btelintelo @Daltron I'd suggest the banner appears below the device's status bar if it's an iPhone X. Like so:
[code]
Is there a mutable frame property before displaying the banner?

[2018-01-08 15:28] btelintelo commented on #79
Here is 50px. but I'm sure there is a better way to calculate it.

![screen shot 2018-01-08 at 10 27 07 am](https://user-images.githubusercontent.com/3678777/34677613-b3b5e880-f45e-11e7-97af-f24209648f2d.png)

[2018-01-08 15:31] Daltron commented on #79
@HackShitUp No there is not currently a mutable frame property. @btelintelo Can you show a picture with the entire navigation bar in the picture? One of the big reasons I didn't do this was because then your cutting off part of the navigation title.

[2018-01-08 17:47] btelintelo commented on #79
Yep, it covers part of the nav bar. But not the title or buttons.  I see why you wouldn't want this.  However, in our case, we want to keep the no network connection message constantly.  Which then covers the entire nav bar!  Another option is the bottom of screen....

[2018-01-08 18:13] Daltron commented on #79
@btelintelo After further thinking, I think your completely right and the default height should be 50px. I have made this the standard implementation in v1.5.4 release. Simply run `pod update NotificationBannerSwift` and you should be good to go! 👍

[2018-01-08 18:13] #79 closed

[2018-01-08 18:20] HackShitUp commented on #79
@btelintelo I also don't want the message bar to appear over the status bar for the iPhone X as well.
@Daltron I just updated to v1.5.4 and the 50px height makes it less intrusive. Is it possible if you could set up an offset variable from the top of the status bar like this framework does?
https://github.com/SwiftKickMobile/SwiftMessages

[2018-01-08 18:26] Daltron commented on #79
@HackShitUp This may be something I'll consider in the future, but as of right now, I do not plan on adding an offset property.

[2018-01-09 01:33] trentjmorris opened #80 "Status bar is hidden for a split second while banner is dismissing"
Thank you so much for all the time you've spent developing this. It really is the best option out there for ease of use, simplicity, and performance.

I'm just curious if there is a way to change how the status bar is shown/hidden when displaying a `StatusBarNotificationBanner`. The banner displays just fine; sliding in to cover the status bar. However, after the delay is over and the banner begin

[2018-01-10 08:47] santoshn547 opened #81 "12 Issues in SnapKit Dependencies"
Installed pod 'NotificationBannerSwift'.
I Got All This Errors I have Attached ScreenShots Of All errors Below.
Have Used Used NotificationBannerSwift before as well but never got such errors please Resolve Issues ASAP So I can Use this Awesome Notification Banner soon.

![screen shot 2018-01-10 at 2 09 53 pm](https://user-images.githubusercontent.com/26603675/34763225-5e971780-f610-11e7-9536-bbe3

[2018-01-10 14:01] Daltron commented on #81
Hi @santoshn547! 😄 This doesn't look like an issue on NotificationBanner's end. Is your project built in Swift 3 or Swift 4? Either way, go ahead and show me what your Podfile looks like and I'll try to help you out further 👍

[2018-01-11 06:08] santoshn547 commented on #81
My Project is in Swift 3.
When I remove Notification Banner pod I don't get Any errors.
The Errors are in dependency of Banner Pod.
I have attached pod screenshot.
Help me out.

On Wed, Jan 10, 2018 at 7:31 PM, Dalton Hinterscher <
notifications@github.com> wrote:

[2018-01-11 14:31] Daltron commented on #81
@santoshn547 So the problem is you are trying to compile a Swift 4 Pod into a Swift 3 project. You have two options:

1. You can point to the NotificationBanner pod version before it was committed to Swift 4
2. Your post install method should look like this:

[code]

[2018-01-12 10:55] patilkun commented on #81
I am also getting same issue as @santoshn547 . I have Swift 4 project and Podfile looks like below.

[code]

Steps to reproduce the issue -

Create a dummy Swift iOS project using Xcode 9.1
From terminal go to the project folder.
Run `pod init` command
Change Podfile in project to look like above file
Run `pod install` command

Try to run the app and you will see all the errors that @santoshn547 m

[2018-01-12 14:32] santoshn547 commented on #81
Using NotificationBannerSwift 1.4.4 version Solved my Issues.
Thanks For Help @Daltron

[2018-01-12 14:35] Daltron commented on #81
@patilkun I just did the steps as you said and encountered no problems. It sounds like your CocoaPods repo is out of date. Try running `pod repo update` and then do those steps again and see if you encounter any errors.

[2018-01-12 14:35] #81 closed

[2018-01-12 14:38] Daltron commented on #80
Hi @trentjmorris! 😄 First off, thanks for the kind words! Regarding your issue, I know exactly what you are talking about. I currently haven't found a way to actually put the notification banners about the actual status bar. Instead, the status bar is hidden and then unhidden at the appropriate times which is causing the "flick" as you mentioned. As of right now, I do not plan on doing anything di

[2018-01-15 07:42] patilkun commented on #81
`pod repo update` fixed the issue for me. Thanks @Daltron

[2018-01-23 11:12] t4ec opened #82 "Allow changing banner default NotificationBannerQueue"
Hello,

I am working on an application which has several independent UIViewControllers (basically nested under TabBarVC), each of them can make API requests, each can fail due to connection issues, etc.

At the moment, if I run `banner.show(on: VC)` from different VCs common queue still waits for the previous banner shown on other VC to disappear or be dismissed before showing a new banner. Which

[2018-01-24 15:00] Daltron commented on #82
Hi @t4ec! 😄 I really really like this idea. I'm going to add a feature request label to this issue and see if I can implement what you are looking for when I have some free time. 👍

[2018-01-25 04:13] Daltron commented on #82
@t4ec This is now a feature in the [v1.6.0](https://github.com/Daltron/NotificationBanner/releases/tag/1.6.0) release. I'd love to hear some feedback after you use it! Thanks again for the feature request! 👍 👍 👍

[2018-01-25 04:13] #82 closed

[2018-01-25 14:32] valexa opened #83 "rotation not supported with custom views"
When setting a banner to bottom with a custom view and rotating devices from landscape to portrait the banner now is in the middle of the screen

            banner = NotificationBanner(customView: view)
            banner.autoDismiss = false
            banner.show(bannerPosition: .bottom)

[2018-01-25 15:50] t4ec commented on #82
@Daltron Wow, that was really fast. As far as I can see it works flawlessly in context of my use-case.

Thanks a lot!

[2018-01-25 15:53] Daltron commented on #82
@t4ec No problem at all. Thanks for such a great idea. I can see a bunch of scenarios that greatly benefit from being able to manage your own banner queues.

[2018-01-25 16:10] Daltron commented on #83
@valexa Thanks for bringing this to my attention. 👍  It didn't appear to be an issue with custom views, but the actual `.bottom` banner position as a whole.  This is now fixed in the [v1.6.1](https://github.com/Daltron/NotificationBanner/releases/tag/1.6.1) release. 🎉

[2018-01-25 16:10] #83 closed

[2018-01-31 21:57] f0rever-johnson opened #84 "Clear Banner Queue Or Dismiss already showing banner"
Feature Request

[2018-02-01 20:37] Ronaldoh1 opened #85 "Adding NotificationBanner via Carthage"
Hi,

I'm trying to add your framework via Carthage, but it's taking forever. It doesn't get pass the
 *** Fetching NotificationBanner

part.

Not sure if its this or

*** Fetching MarqueeLabel  d

dependency.

Any workarounds?

[2018-02-01 22:16] Ronaldoh1 commented on #85
I keep getting

Dependency "NotificationBanner" has no shared framework schemes

If you believe this to be an error, please file an issue with the maintainers at https://github.com/Daltron/NotificationBanner/issues/new

[2018-02-01 23:26] Ronaldoh1 commented on #85
adding github "Daltron/NotificationBanner" "master" to cart file didn't work ... maybe it's not the right path?

[2018-02-02 18:13] Daltron commented on #84
Hi @f0rever-johnson! 😄 Both of these features already exist. To clear the `NotificationBannerQueue`, simply `NotificationBannerQueue.default.removeAll()`. You can dismiss an already showing banner if you store it in variable. Simply `banner.dismiss()`.

[2018-02-02 18:13] #84 closed

[2018-02-02 18:15] Daltron commented on #85
Hi @Ronaldoh1! 😄 Unfortunately, I can not provide much help when it comes to Carthage related questions as I have zero experience with it and wasn't the one who added support for it in this library. @Dschee, would you be able to provide some help on why this might be happening?

[2018-02-03 12:06] Dschee commented on #85
@Ronaldoh1 I just tested this by creating an empty Folder and adding a `Cartfile` with the following content:

[code]

Then I ran `carthage update --platform ios --cache-builds` on the command line and here's the complete output:

[code]

As you can see it works perfectly fine with the latest version of NotificationBanner. Therefore I suggest you first check that you have the latest version of Car

[2018-02-04 01:05] thebrandontyler opened #86 "Cocoapod issue overriding BannerColors"
When I try to create a custom color for a banner using cocoapods, I get a "Cannot inherit from non-open class 'BannerColors' outside of its defining module."

It seems like if Notification Banner is added as a pod, then the class and method instance must be open instead of public in order to override it since it is not in the same project/module.  I checked out your example and the BannerColors.sw

[2018-02-04 02:12] quver commented on #86
[code]

you have to conform to protocol instead of inherit

[2018-02-04 02:24] thebrandontyler commented on #86
Thanks for the feedback.
I tried that too and received this error: Method does not override any method from its superclass.
If I remove the override keyword, it builds and works!
Thanks again.

[2018-02-04 02:25] #86 closed

[2018-02-04 03:43] quver commented on #86
I updated my answer, I will create pull request because I copy&paste this code from documentation

[2018-02-05 03:44] Daltron commented on #85
@Dschee Thanks for confirming this 👍 Going to close this issue for now.

[2018-02-05 03:44] #85 closed

[2018-02-06 05:25] kelvinfok opened #88 "Making the left image view round"
Hi, is there a way to make the image view round?

[2018-02-07 08:48] deaconudanandrei commented on #80
Might i suggest making the alpha of the Status Bar text to 0 when the notification is visible with a simple animation, and then back to 1 when the notification was dismissed.

With an extension such as this:

    extension UIApplication {
        var statusBarView: UIView? {
            return value(forKey: "statusBar") as? UIView
        }

        func changeStatusBar(alpha: CGFloat) {

[2018-02-07 23:13] Daltron commented on #88
Hi @kelvinfok! 😄 You definitely can.  You just need to set the `cornerRadius` property on your view's layer to half the height of your view. The left and right views have 10px of padding from the top and the bottom so if you do this:

[code]

it should be exactly what your looking for!

[2018-02-07 23:13] #88 closed

[2018-02-07 23:14] Daltron commented on #80
@deaconudanandrei Thanks for the input but the `statusBarView` that you are talking about isn't the actual system status bar view. It's just a placeholder view that takes up the space of the status bar so this solution wouldn't work unfortunately.

[2018-02-14 05:24] Ronaldoh1 commented on #85
hi guys ... I finally got around to try it. The reason why this is not working is because

Could not pick a version for github "SnapKit/SnapKit", due to mutually incompatible requirements:
	~> 4.0.0
	~> 3.2.0 (github "Daltron/NotificationBanner")

My project uses snap kit and we're already using 4.0.0 is it possible that this might the reason why it keeps hanging when I run `carthage update --plat

[2018-02-14 06:19] Ronaldoh1 commented on #85
yeah I updated the version on my fork and it worked

[2018-02-22 04:21] dvluong opened #90 "Banner crashing on dismiss"
`
        UIView.animate(withDuration: 0.5, animations: {
            self.frame = self.bannerPositionFrame.startFrame
        }) { (completed) in
            self.removeFromSuperview()
            self.isDisplaying = false
        }`

Getting a crash at this line 'self.frame = self.bannerPositionFrame.startFrame' stating that it is nil. Any idea why this may be happening?

[2018-02-23 14:40] sadiq81 opened #91 "Upgrade SnapKit to 4.0.0"
I assumed a lot of us have moved on the using snapkit vs 4

So please upgrade

`github "SnapKit/SnapKit" ~> 4.0.0`

[2018-03-01 13:31] xbauquet opened #92 "Crashes if dismiss is called before show"
I use the banner to show network problems to the user. When I try to use the banner this way the library crashes:
[code]

The crash is du to the bannerPosition being nil if dismiss() is called before show().
I found a work around:

[code]

But this solution seems a bit heavy for the client.
That's why I'm opening this issue.
It will be followed by a PR that should fix the problem.

[2018-03-04 00:07] #92 closed

[2018-03-04 00:13] Daltron commented on #91
Hi @sadiq81 #89 updated SnapKit to 4.0 for Carthage. If you are using CocoaPods, then it should already be using SnapKit 4.0. Thanks! 👍

[2018-03-04 00:13] #91 closed

[2018-03-04 00:15] Daltron commented on #90
Hi @dvluong! 😄 #93 Fixed this and the `1.6.2` CocoaPods release has this fixed. Thanks!

[2018-03-04 00:15] #90 closed

[2018-03-04 00:15] Daltron commented on #80
Going to close this issue for now as there doesn't seem to be a clear workaround at the moment.

[2018-03-04 00:15] #80 closed

[2018-03-05 07:56] prati691 opened #94 "Banner cuts off on top on iphone X"
Please fix this ASAP

[2018-03-05 08:00] xbauquet commented on #94
Can you give a little bit more context please.
For example which banner ... it would help fixing the problem.

[2018-03-05 08:06] prati691 commented on #94
I am using top banner. It looks fine on screenshot but when running on actual device, It comes behind the status bar.

[2018-03-05 08:56] xbauquet commented on #94
Can you take a screenshot with your iPhone X ?
Which version of the library are you using ?

[2018-03-05 15:12] Daltron commented on #94
@prati691 as @xbauquet has mentioned, a screenshot would be greatly appreciated. Stating to fix something ASAP without any other information is usually not a great way to get a developer's attention 😄

[2018-03-07 07:18] OlegSH1 opened #96 "Usage license"
Hi.
The file NotificationBannerUtilities.swift doesn't contain the "The MIT License (MIT) ... " comment which may prevent us from using it.
Please add this comment.

Thanks

[2018-03-07 08:20] xbauquet commented on #96
I just opened a PR #97 that fixes that.

[2018-03-07 09:58] #96 closed

[2018-03-07 13:22] luksfarris opened #98 "Dismiss the Notification before the animation of showing causes it not to be dismissed"
Currently you use the boolean `isShowing` to control this, but it's only set after the 0.5sec animation runs. If someone try to dismiss it before 0.5sec it's not dismissed.

Moving `self.isDisplaying = true` to outside the animation completion callback fixes this, and makes sense. Do you agree? Can I help by creating a pull request?

[2018-03-10 08:00] uradox opened #100 "Default timeout option"
Hi,

I feel that for some things the amount of time the banner is displayed is slightly too long. It would be nice to have a parameter to set the timeout for this if possible.

Regards

Kev

[2018-03-11 09:35] xbauquet commented on #100
Hi,
Thank you for your issue. This sounds like a good idea. But I just read the code and it seems that you already can change the duration of the banner display. Here is the code:
[code]
`duration` is public so you can set it.
I haven't tested this. Maybe you could try to use it and come back here tell me if it's working or not.
If it is working I think you can close this issue ;)

[2018-03-11 22:19] RobbieZhuang opened #101 "iPhoneX: StatusBarNotificationBanner covered by home bar when using .bottom in specific view."
`
let title = "Title"
let banner = StatusBarNotificationBanner(title: title, style: .warning)
banner.show(bannerPosition: .bottom, on: self)
`

[2018-03-12 08:09] xbauquet commented on #101
Who is self ?
I think you can try that:
`banner.show(bannerPosition: .bottom)`

[2018-03-12 09:43] uradox commented on #100
You are right, dont know how I missed that!
Thanks heaps!

[2018-03-12 09:43] #100 closed

[2018-03-12 14:04] RobbieZhuang commented on #101
Hey xbauquet, thanks for the advice. [self] is the current view controller. I was trying to localize the notifications within individual view controllers, but I think I’ll just stick with what you said and reduce the length of each notification.

[2018-03-12 14:32] xbauquet commented on #101
I'm glade I could help.
Please close the issue if you are finished with this question.

[2018-03-12 19:05] PaulRBerg opened #102 "isDisplaying returns always false"
The banner is definitely being displayed, but `isDisplaying` is always set to `false`.

[2018-03-13 00:31] johnrogers commented on #77
Please!

[2018-03-13 00:40] Daltron commented on #98
Hi @luksfarris! 😄 Sorry for the delayed response. Feel free to open a full request!

[2018-03-13 00:45] Daltron commented on #77
I apologize for never getting to this but if somebody has a solution that doesn't compromise and degrade the banner's UI, I would be happy to consider adding this feature. 👍

[2018-03-13 03:54] #101 closed

[2018-03-13 10:56] luksfarris commented on #98
It's opened 😊  thanks

[2018-03-15 21:09] jeop10 opened #103 "StatusNotificationBanner is behind the status bar"
Hello I'm trying to display a StatusNotificationBanner when a match in my application is cancelled, but I think I am making something wrong because this is what happens after a few seconds of the notification being displayed

![behind](https://user-images.githubusercontent.com/5445566/37491153-267e1046-289d-11e8-9014-569a018f4d3a.png)

This is how I am making the call

[code]
Could you please help

[2018-03-15 21:35] Daltron commented on #103
Hi @jeop10! That is strange. Do you know if the banner code is being ran on the main thread? Trying wrapping it in a DispatchQueue.main.async{} block and see if that helps.

[2018-03-16 18:52] jeop10 commented on #103
Hello @Daltron Thank you for answering I just tested the code now look like this
[code]

But the issue continue. I dont really know if the code is being ran on the main thread, sorry. I can tell you that this code is processed after I get a response from an Alamofire request to my endpoint. Hope that helps.

Thank you again

[2018-03-17 03:30] mattbarker016 commented on #103
Having the same issue. I'm presenting on the navigation controller. It works nicely on the iPhone X, but not with other devices.

[2018-03-17 03:41] mattbarker016 commented on #103
I tried [an old hack](https://stackoverflow.com/questions/26781837/display-uiview-above-apple-status-bar-in-ios-8/45640794#45640794) I've used before, and it does work. I added the line
[code]
in the `if` and `else` block starting at Line 303 in `BaseNotificationBanner.swift`.

**Before**

![simulator screen shot - iphone 8 - 2018-03-16 at 23 39 09](https://user-images.githubusercontent.com/803992

[2018-03-17 21:36] Daltron commented on #98
@luksfarris After further thinking and seeing your pull request, I'm unsure what it solves. The `isDisplaying` property should not be set to true until it is fully displayed. What issue are you running into exactly? Thanks!

[2018-03-19 11:35] sushant40 commented on #98
Hi, what a small world... I am seeing this issue too.

Though what I'd much rather prefer is the ability to instantly 'swap' out a status bar notification. IE change a .success to a .warning with different text without dismissing it.

[2018-03-19 11:47] sushant40 commented on #98
for the sake of this issue. I cant speak for the pull request. Basically we should be able to dismiss a notification within 0.5s as this could be something totally out of our control... EG... because a "warning you have no network" alert is dismissed because now there is network.

[2018-03-19 12:18] StanislavK commented on #94
@prati691 Make sure the navigation bar is not translucent (i.e. in IB, "Translucent" of Navigation Bar is not selected for the embedding UINavigationBar), or add (in your code) `edgesForExtendedLayout = UIRectEdge()` to your VC init.

[2018-03-19 21:07] jeop10 commented on #103
Hello @mattbarker016 thanks for the tip, how did you achieve to edit the `BaseNotificationBanner.swift` file? I installed the library using cocoaPod and from what I can understand my extension to UIApplication is not being used within the library.

[2018-03-20 02:09] mattbarker016 commented on #103
https://github.com/mattbarker016/NotificationBanner

[2018-03-20 19:47] jeop10 commented on #103
@mattbarker016 Thanks for the info I really appreciate it!

[2018-03-23 20:46] BrettRosen commented on #103
Same issue here

[2018-04-02 13:43] jlichti commented on #98
I'm seeing an issue where I add a autoDismiss = false banner to the queue and then if I dismiss it before it was ever shown the banner will show forever.

For a quick workaround I added a check for isDisplaying when trying to dismiss and if not then I set to auto dismiss.

[2018-04-06 09:56] arshadsk5 opened #106 "how to display text label in center of the banner?"
I am new to notification banner, i want to display the titles in the center of the notification banner, how can i do that. I am waiting for the reply, please let me  know whether it is possible or not,Please help.

[2018-05-11 09:16] #94 closed

[2018-05-14 14:01] uknowmeright commented on #106
try this:

[code]

[2018-05-16 08:57] christoff-1992 opened #107 "Banner not dismissed when removing all from the que if the banner has autoDismiss set to false."
If a Banner is set to autoDismiss = false and you then removeAll from the the queue the banner will not be dismissed.

This can then cause visual artefacts with the status bar showing above the banner if another banner is presented.

Is this the intended behaviour?

[2018-05-16 09:16] christoff-1992 commented on #107
Ahh I see in this instance the banner isn't part of the que and that the banner will need to be programatically dismissed.

[2018-05-16 09:16] #107 closed

[2018-05-22 12:37] christoff-1992 opened #110 "Status bar incorrect size on iPads after rotation - [Includes work around]"
Will take a look myself but just to bring this to your attention,

On the iPad Pro 12.9-inch after rotating from portrait to landscape the banner does not expand the full width.

Rotating back to portrait will set the landscape size and vice versa, it's as if the value is incorrect during the viewWillTransition. It may even be a simulator bug, but I don't have a physical device of the same type to

[2018-06-01 10:15] pawansn commented on #103
Hey, anyone solved this issue?

[2018-06-01 16:16] zhuravel-sergey opened #111 "Crash on init StatusBarNotificationBanner"
On this line crash: `let bannerNoInternet = StatusBarNotificationBanner(title: ".no internet connection", style: .danger)`
<img width="1658" alt="screen" src="https://user-images.githubusercontent.com/7910769/40851512-4d5da6f2-65d0-11e8-8712-4e9116c86d9e.png">

[2018-06-09 15:44] jeop10 commented on #103
Sorry that I took so much to answer, I have not yet found the solution to this problem, sorry.

[2018-06-11 05:12] pawansn commented on #103
**I solved this issue**

https://stackoverflow.com/questions/50699531/how-to-show-view-in-statusbar-in-ios?noredirect=1#comment88408269_50699531

[2018-06-21 21:18] ttyguy1 opened #114 "Banner Not Displaying"
So I added the filling lines of code to the viewDidLoad() in my project

`let leftView = UIImageView(image: #imageLiteral(resourceName: "nextArrow"))
        let banner = NotificationBanner(title: "Hello World", subtitle: "HI", leftView: leftView, style: .success)
        banner.show()
        banner.haptic = .heavy
        banner.show()`

When I go run the app the status bar is hidden but then 5

[2018-06-21 21:21] Mrweatherman208 commented on #114
Try
DispatchQueue.main.async() {
let leftView = UIImageView(image: #imageLiteral(resourceName: "nextArrow"))
let banner = NotificationBanner(title: "Hello World", subtitle: "HI", leftView: leftView, style: .success)
banner.haptic = .heavy
banner.show()
}

[2018-06-21 21:24] ttyguy1 commented on #114
BINGO! That was it. Thanks!

[2018-06-21 21:24] #114 closed

[2018-06-25 17:10] sheinix opened #115 "Swift 3.3 support for CustomBannerColors"
When using custom colors for the banner on Swift 3.3 It doesn't compile.
Error:
`Cannot convert value of type 'CustomBannerColors' to expected argument type 'BannerColorsProtocol?'`

In Swift 4.1 same code works well.

[2018-06-27 11:26] UsmanIbnetariq opened #116 "Banner width not changing when iPad orientation changed from portrait to landscape mode"
Banner width not being set when I change orientation of iPad (on simulator, iOS version 10.3 and 11.4) from portrait to landscape and vice versa, I this a problem or expected behaviour?

[2018-06-28 20:35] sheinix opened #117 "banner.show(on: viewController) doesn't show the banner below the navbar"
Hi, I'm trying to show the banner below the Navbar following the instructions but it's not working. It is showing it on top like normal one.

[code]
What am I missing?

[2018-07-03 20:14] christoff-1992 commented on #116
@UsmanIbnetariq - take a look at what I posted on #110

[2018-07-03 20:35] UsmanIbnetariq commented on #116
I'm using a singleton to check connectivity and show banner that I initialise in didFinishLaunchingWithOptions below is code of Connectivity Manager class, can you guide me where exactly to include/use this work around because I've been trying to fix this issue from past few but couldn't resolve it

`class ConnectivityManager: NSObject {

    static let shared = ConnectivityManager()
    var conne

[2018-07-12 15:37] helloniklas opened #118 "Supporting Dynamic Type"
Is there a way to get this to work with adjustable dynamic type size?

[2018-07-16 16:15] fschaus opened #119 "Left view constraints not working properly"
Hello,

First off, great library - super easy to use, powerful and quite flexible/ comprehensive! I having just a minor issue - when trying to implement a left Image View with a corner radius it doesn't work.

My approach is to set a corner radius to the layer of the UIView like you would normally do. After a bit of digging, the issue seems to be that the SnapKit constraints can't be simultaneousl

[2018-07-16 16:36] Daltron commented on #119
Hi @fschaus! 😄 Your getting the "can't be simultaneously satisfied message" because your trying to put two sets of different constraints on the same view. Before adding your custom constraints, I would try clearing the constraints that the left view already has by calling `leftView.snp.removeConstraints()` and see if that helps.

[2018-07-16 17:21] fschaus commented on #119
Thanks for the (super quick) reply! Taking a bit more time to think this through, I made 2 adjustments to simplify my code:
- I'll stop using PureLayout as it's a bit stupid to risk creating conflicting between PureLayout and SnapKit (as you correctly pointed out) and to go through the effort of re-setting all constraints you set with SnapKit using PureLayout (waste of time) :)
- Second, I should

[2018-07-16 17:23] Daltron commented on #119
@fschaus Could you setup a demo project showcasing this issue and send it to my email listed on this repo? I should be able to help you better if I can see whats actually going on.

[2018-07-17 11:34] christoff-1992 commented on #116
@UsmanIbnetariq - Its a change to the framework, you will have to fork the repo and make the change in the source code for it to take affect.

[2018-07-20 10:16] lyc2345 opened #120 "Bottom banner y start at safe area"
Hi, Thanks for this awesome banner.
I have an issue about adjust bottom banner y position in iPhoneX.

I found it shows no matter with viewController or not. The y position always at `safeAreaInsets.bottom` which will leave blank underneath banner.

[code]

[Screenshot](https://www.dropbox.com/s/i67hf6ocx8mv9yw/IMG_0312.png?dl=0)

Is there any method or variable could adjust the position?
Or I use

[2018-07-20 12:34] Daltron commented on #120
Hi @lyc2345! 😄 I'm a little confused. Are you wanting the banner to be at the very bottom attached over the bottom safe area?

[2018-07-22 06:56] lyc2345 commented on #120
YES YES!

[2018-07-22 11:50] Hassaniiii opened #121 "'delegate' methods are not fired"
`notificationBannerDidAppear` and `notificationBannerDidDisappear` methods are not fired. They are called within `UIView.anmate` completion closure and the `delegate` instance gets nil.

**BaseNotificationBanner.swift**
[code]

[2018-07-31 17:41] Hassaniiii commented on #121
I used it in the following code. Indeed, the only function that had been fired was `func notificationBannerWillAppear(_ banner: BaseNotificationBanner)`  and other ones all had not. When I used the debugger to address the problem, I found out that the delegate instance got nil in `UIView.animate` completion. So, I decided to fix the issue by forking and making a pull request. Now, it is working as

[2018-08-01 13:40] #121 closed

[2018-08-02 04:44] jobinsjohn opened #123 "How to show only the last called banner and dismiss all other banners in the queue?"

[2018-08-02 12:50] fazzerasty commented on #111
This will happen if you had a non-optional UIWindow property stored in you app delegate as this piece of code tries to force unwrap the property.

[2018-08-02 14:34] Daltron commented on #123
Hi @jobinsjohn! 😄 Can you provide a little bit more context on what you are trying to achieve so I can better understand?

[2018-08-02 14:36] Daltron commented on #111
@fazzerasty Can you think of a reason why a UIWindow property would be nil on an app delegate instance?

[2018-08-02 18:25] okdala2 opened #124 "One Title with 2 lines"
Is there any way to make a Title/subtitle not scroll, but display on the next line?

[2018-08-02 18:43] Daltron commented on #124
Hi @okdala2! 😄 I'm going to close this as it is a duplicate of #34

[2018-08-02 18:43] #124 closed

[2018-08-10 07:19] rubengarciam opened #125 "Better dynamic title management"
Firstly, great work so far! 😊

**Use case**

The app is iterating through a loop of items that will be added to an internal Database. I would like to display a banner that get's dynamically updated with, for example, the number of items saved i.e:

`23 out of 100 records saved`

**What I'm doing right now**

1. Setting the banner as always on
`banner.autoDismiss = false`
2. Dynamically updating th

[2018-08-10 13:06] Daltron commented on #125
Hi @rubengarciam! 😄 This is a great use case! The banners use [MarqueeLabel](https://github.com/cbpowell/MarqueeLabel) to display the text so I assume its unable to handle all the quick changes back to back to back. However, I do know that if you were to provide a custom view with a single UILabel which basically mimics the banner you are wanting to show, that should would perfectly fine!

[2018-08-12 06:26] rubengarciam commented on #125
Cool, good to know! Will give it a go :)

[2018-08-14 09:29] karthiksaral opened #126 "UIApplication.delegate must be used from main thread only"
I used the pod 'NotificationBannerSwift' for show the banner, but sometimes in iOS 11+  it crashed or app gets freeze, I based the issue in both (iPad & iPhone).
![screen shot 2018-08-14 at 2 52 38 pm](https://user-images.githubusercontent.com/5500927/44083743-7b1bc466-9fd2-11e8-8636-ccf1975d14b7.png)

[2018-08-15 06:47] nealsun opened #127 "StatusBarNotificationBanner's height is too big when from bottom in iPhoneX and navigationbar is hidden"
When I show StatusBarNotificationBanner from bottom in iPhone x and navigation bar is hidden, it's height is too big. It's fine in other iPhones

![image](https://user-images.githubusercontent.com/1240819/44135028-d4e62f00-a099-11e8-96e7-07fe3aecbe85.png)

[2018-08-16 13:15] Daltron commented on #125
@rubengarciam Any update on this? 😄

[2018-08-29 07:40] domhof commented on #3
I have created an Objective-C compatible fork here: https://github.com/domhof/NotificationBanner/tree/objc

[2018-08-30 06:04] samzhiwei commented on #123
Same festure, just like a Serial queue.
 I feel hard to override NotificationBannerQueue. Because removeAll() method is public, var banners and so on. Can not override removeAll() out of module
Or trying make NotificationBannerQueue become a protocol ?
Or any idea?

[2018-08-30 06:08] samzhiwei commented on #123
banner.dismiss() is guarded by isDisplaying property
while banner is animating, banner can not be dismiss

[2018-09-04 15:41] alfonso-matos-financefox-ch opened #128 "swift 4.2"
Hi,

Are you planning to have swift 4.2 compatibility?

Regards

Alfonso

[2018-09-11 19:20] goeltarun opened #129 "Need to update the banner text color"
I need to change the banner text color other than white, I override the BannerColorsProtocol to a lighter color but now since the text color is white, it looks odd, Its working perfectly for me otherwise and I don't want to use the custom view for this small issue, any interface by which I can change the text color

[2018-09-12 14:02] #129 closed

[2018-09-12 14:02] goeltarun commented on #129
I got it by
banner.titleLabel?.textColor = UIColor.black

[2018-09-13 01:39] Daltron commented on #128
Hi @alfonso-matos-financefox-ch! I absolutely am. Feel free to make a PR if you have the time to do so!

[2018-09-16 12:45] twofish187 opened #132 "Cannot compile with Xcode 9.4.1 and Swift 4 anymore"
I want to do:
 carthage update --platform iOS

My Cartfile: github "Daltron/NotificationBanner" "master"

xcodebuild is: 9.4.1
carthage version: 0.30.1

I get the following error:

Building scheme "MarqueeLabel" in MarqueeLabel.xcworkspace
*** Building scheme "MarqueeLabelSwift" in MarqueeLabel.xcworkspace
*** Building scheme "SnapKit" in SnapKit.xcworkspace
*** Building scheme "NotificationBanner

[2018-09-17 13:09] Daltron commented on #132
Hi @twofish187!  I am completely unfamiliar with how Carthage works so I unfortunately can not help. @Dschee any chance you could help out here?

[2018-09-17 15:29] sieren commented on #132
I had the exact same issue, @Daltron just merged the fix here:
https://github.com/Daltron/NotificationBanner/pull/131 since Carthage uses the project file :)

[2018-09-17 15:35] Daltron commented on #132
@sieren, thanks for the reply! You are correct that xCode 9.x does not support Swift 4.2.

[2018-09-17 15:35] #132 closed

[2018-09-17 15:48] okdala2 commented on #128
Fixing the issues in my personal project now. Seems like most of the changes are to conform to enums.

[2018-09-18 06:30] baryon opened #135 "iPhone XR & XS Max Simulator Position missed"
Compare these screenshot. build the latest version, and updated to snapkit 4.0.1, XCode 10.

the example is same. and the bottom position is not correct on  iPhone XR & XS Max

<img width="409" alt="iphone_8_-_12_0" src="https://user-images.githubusercontent.com/421757/45668265-12fe3a80-bb57-11e8-9b18-e15c4395cad9.png">
<img width="400" alt="iphone_x_-_12_0" src="https://user-images.githubusercont

[2018-09-18 13:03] Daltron commented on #135
Hi @baryon! 😄 As long as you pull down from the master branch, this issue should be addressed.
https://github.com/Daltron/NotificationBanner/pull/133

[2018-09-18 13:03] #135 closed

[2018-09-18 13:12] dimidrollko opened #136 "Autolayout height for custom view"
Hi!
Is it possible to match content height of custom view for displaying notification banner. Some notifications are has text more than two lines of text. Padding for iPhone X could be used from safeareainsets.top or .bottom.
Right now it's use hardcoded 64 pt.

[2018-09-19 13:06] Daltron commented on #128
CocoaPods release 1.7.0 now supports Swift 4.2! 🎉

[2018-09-19 13:06] #128 closed

[2018-09-19 16:08] goeltarun opened #139 "Stop building on latest"
It is giving me compilation error for MarqueeLabel 3.2.0, I have not ported my code to 4.2, even using older version of NotificationBanner is giving MarqueeLabel 3.2.0, which is giving me compilation error.

[2018-09-19 16:09] Daltron commented on #139
Hi @goeltarun! 😄 Can you show me what your Podfile looks like please?

[2018-09-19 16:11] goeltarun commented on #139
sure
[code]

[2018-09-19 16:12] goeltarun commented on #139
Also to note even if I give
```pod 'MarqueeLabel', '~> 3.1.6'```
it gives me error for duplicate property

[2018-09-19 16:13] Daltron commented on #139
Instead of `pod 'NotificationBannerSwift', '~> 1.6.3'`, can you change it to `pod 'NotificationBannerSwift', '1.6.3'` and see if that addresses your problem?

[2018-09-19 16:28] goeltarun commented on #139
unfortunately no :(, even if I give ```pod 'NotificationBannerSwift', '1.6.2'```, its till take ```Installing MarqueeLabel (3.2.0)```

And if is specifically gives ```pod 'MarqueeLabel', '3.1.6'``` in my podfile, it installs 3.1.6 version but gives error
![screen shot 2018-09-19 at 12 26 38 pm](https://user-images.githubusercontent.com/22160202/45767182-7e074a00-bc07-11e8-87ab-e9b49d6114ca.png)

[2018-09-19 16:29] Daltron commented on #139
Can you show me what your Podfile.lock is please?

[2018-09-19 16:31] goeltarun commented on #139
unfortunately no :(, even if I give pod ```'NotificationBannerSwift', '1.6.2'```, I get```Installing MarqueeLabel (3.2.0)``` and I get the error,
If I specify ```pod 'MarqueeLabel', '3.1.6'``` I get the following error.
![screen shot 2018-09-19 at 12 26 38 pm](https://user-images.githubusercontent.com/22160202/45767339-eb1adf80-bc07-11e8-86dc-a9a6319cc64c.png)

[2018-09-19 16:36] goeltarun commented on #139
sure adding screen shot
<img width="1437" alt="screen shot 2018-09-19 at 12 35 10 pm" src="https://user-images.githubusercontent.com/22160202/45767587-91ff7b80-bc08-11e8-80b5-df5c12fc9dcc.png">

[2018-09-19 16:50] goeltarun commented on #139
I think I may know the issue, here
https://github.com/Daltron/NotificationBanner/commit/b284f02d431804eb3cc1148f13cb4886c828be10#diff-d1586bc52e91ed192cc5baa589183bf5
it was ```s.dependency 'MarqueeLabel/Swift'``` so it always downloads the latest even if go back to some older vesions which is 3.2.0 now, which my project doesn't support, i guess if I want to use the library I  have to use port it

[2018-09-19 23:30] ZaVyLoN commented on #139
`'NotificationBannerSwift', '1.6.3'`
Don't work.

[2018-09-19 23:33] ZaVyLoN commented on #139
![2018-09-20 2 02 32](https://user-images.githubusercontent.com/3078481/45787349-8a2dee80-bc7d-11e8-9bf8-7d8316daf2c4.png)

[2018-09-20 15:39] ZaVyLoN commented on #139
Hi, @Daltron
What about my error?

NotificationBannerSwift (by default 1.7.0)
MarqueeLabel  (by default 3.2.0)  See the errors above.

And now after install:

[2018-09-20 15:43] Daltron commented on #139
@ZaVyLoN If your not building your project with Swift 4.2, then you will need to specify a version of NotificationBanner that supports the current swift version you are trying to target within your Podfile

[2018-09-20 16:08] ZaVyLoN commented on #139
@Daltron, thx.

[2018-09-20 16:32] Daltron commented on #139
I'm going to go ahead and close this issue as it is not a problem with NotificationBanner itself.

[2018-09-20 16:32] #139 closed

[2018-09-20 16:32] goeltarun commented on #139
@Daltron ```pod 'MarqueeLabel', '3.1.6'``` should be great. Basically I don't need MarqueeLabel in my project, I was just trying to avoid the 3.2.0 for which I have to move to 4.2.0.

[2018-09-20 16:34] goeltarun commented on #139
If you can make an intermediate release may be 1.6.4 with pointing to ```pod 'MarqueeLabel', '3.1.6' ``` that would work for us. Thanks all for the help.

[2018-09-20 16:40] Daltron commented on #139
@goeltarun There is no need for a custom release. Here are the steps you need to follow:

1. Delete the Podfile.lock from your project
2. Add `pod 'MarqueeLabel', '3.1.6'` to your podfile

[2018-09-20 16:46] goeltarun commented on #139
@Daltron thanks, will try. The issue though is the  ```Podfile.lock``` is generated for me after  I run pod install and that has the MarqueeLabel as 3.2.0 for NotificationBanner, thanks for help though, let me try something.

[2018-09-20 16:47] Daltron commented on #139
@goeltarun I tried the steps above and it worked as expected for me.

[2018-09-20 16:50] goeltarun commented on #139
sure, thanks will work with it.

[2018-09-20 21:06] Smiller193 opened #141 "xcode10 and swift 4.2 support"
I know the app says xCode 4.2 is supported however when I try to build it I get these errors. Any idea what could be going wrong.
<img width="366" alt="screen shot 2018-09-20 at 5 03 23 pm" src="https://user-images.githubusercontent.com/16108750/45847013-7f17a480-bcf7-11e8-848a-77318aeddf4b.png">

[2018-09-21 01:03] joaquin102 commented on #141
Same here.

[2018-09-21 08:29] weakfl commented on #141
The `SnapKit` dependency is not Swift 4.2 compatible yet.
Add a post install hook like this one to your Podfile until it gets updated:

[code]

[2018-09-21 10:53] IvanovDeveloper commented on #141
For me too

[2018-09-21 14:02] weakfl commented on #141
Did you call `pod install` after adding the post install hook?

Also are you refering to the sample app or the `NotificationBannerSwift` pod? I'm just consuming the pod itself and it's working fine if the SWIFT_VERSION of the `SnapKit` dependency is set to Swift 4.0

[2018-09-21 16:46] alxArad opened #142 "Swift 3.x support"
Hi,

How can I install this library to be compatible with swift 3.3 ?

[2018-09-21 18:56] btelintelo opened #143 "1.6.3 wildcard of MarqueeLabel breaks non swift 4.2 projects"

[2018-09-21 19:47] Daltron commented on #142
Hi @alxArad! 😄 Sorry, but there is not going to be any support for Swift 3.x versions.

[2018-09-21 19:47] #142 closed

[2018-09-21 19:49] Daltron commented on #143
Duplicate of #139.

[2018-09-21 19:49] #143 closed

[2018-09-21 21:13] goeltarun commented on #141
I was getting the same error, got it working by

[code]

[2018-09-21 21:14] goeltarun commented on #139
@Daltron I got it working by

`pod 'NotificationBannerSwift', '1.6.3'`
`pod 'MarqueeLabel/Swift', '3.1.6'`

[2018-09-23 13:05] r-plus opened #144 "StatusBarNotificationBanner will be appear to bottom of screen on iPhone Xs Max."
`StatusBarNotificationBanner` will be appear to bottom of screen on iPhone Xs Max.

## version

- NotificationBannerSwift 1.7.1 installed from Cocoapods.
- Xcode10
- iPhone XS Max simulator iOS 12.0

## code

[code]

## SS

![simulator screen shot - iphone xs max - 2018-09-23 at 21 59 18](https://user-images.githubusercontent.com/425216/45928294-3886ac00-bf7c-11e8-9b8d-40eef6286914.png)

## on 1.7

[2018-09-24 10:30] Smiller193 commented on #141
@goeltarun thanks that got it working for me as well

[2018-09-24 20:58] stefanosisto opened #146 "Handling dismiss!"
Hello!

I'm starting using this pod and I think it's really easy to use! Congrats for it.
I'm asking if I can do this with the banner:

Sometimes I need a banner that lock the view, stay for.. 10 seconds (example) and when it is dismissed, I Need a completion!

For example now I have the alert view with just "OK" button

I've seen the onTap closure. It could be nice if I can lock the view until he

[2018-09-25 04:53] mattbarker016 commented on #103
@Daltron Did this get resolved in a new release?

[2018-09-25 08:29] joseantoniogarciay commented on #141
post_install do |installer|
    installer.pods_project.targets.each do |target|
            target.build_configurations.each do |config|
              if target.name != 'MarqueeLabel' && target.name != 'NotificationBannerSwift'
                config.build_settings['SWIFT_VERSION'] = '4.1'
              end
            end
    end
end

try this in your podfile

[2018-09-25 13:52] rajtharan-g opened #147 "Xcode 9.4.1 build issue"
![screen shot 2018-09-25 at 7 19 50 pm](https://user-images.githubusercontent.com/23209069/46018713-23cf2300-c0f8-11e8-9b6e-c1804c4f6711.png)
Getting the build error as above when building the project. The project builds in Swift 4.1.

I have the following in my pod file
pod 'NotificationBannerSwift', '1.6.3'
pod 'MarqueeLabel', '3.1.6'

[2018-09-27 01:37] stealdre opened #148 "Very small banner on iPhone X"
Hi,

I would like to know how to make the banner bigger? If I modify the height values in the  BaseNotificationBanner.swift file, nothing changes...

Thanks in advance for your help.

[2018-09-27 10:45] AlexZakharyev opened #149 "Banner shows under status bar"
Hi,

NotificationBanner shows under status bar
Reproduced on iPhone 6s Plus iOS 12

Thanks in advance for your help.

[code]

[2018-09-28 13:38] amkomatzftx commented on #144
I am having this issue as well

[2018-09-28 13:59] joseantonioECI commented on #144
@amkomatzftx can you check your podfile.lock?

This project ( [https://we.tl/t-0kKMvxG6cQ](https://we.tl/t-0kKMvxG6cQ) ) has those and works well
  - MarqueeLabel/Swift (3.2.0)
  - NotificationBannerSwift (1.7.1):
    - MarqueeLabel/Swift (~> 3.2.0)
    - SnapKit (~> 4.0.1)
  - Reveal-iOS-SDK (1.6.2)
  - SnapKit (4.0.1)

[2018-09-28 18:56] maxibravo commented on #147
I have the same issue.

[2018-10-01 07:08] r-plus commented on #144
@amkomatzftx I no longer reproduce this issue after clean and rebuild.
So the cause may be a cache before update for Xcode 10.
Could you try clean(Cmd+K) your project?

[2018-10-02 08:50] muhrifqii opened #150 "How to set custom view to StatusBarNotificationBanner?"

[2018-10-03 06:34] mattbarker016 commented on #103
I resolved this issue in a [fork](https://github.com/mattbarker016/NotificationBanner). Would love to see this solution or a better one merged into master!

[2018-10-03 06:35] mattbarker016 commented on #149
This has been broken for some time! Check out the original issue [here](https://github.com/Daltron/NotificationBanner/issues/103), which included a fork I made to solve the issue.

[2018-10-03 10:33] rajtharan-g commented on #147
This is solved by changing the pod from 'MarqueeLabel' to 'MarqueeLabel/Swift' when building in Xcode 9.4.1 with Swift 4.1.

[2018-10-05 14:59] btelintelo opened #153 "Title doesn't wrap to two lines when subtitle doesn't exist"
I am sending a title message to be displayed, no subtitle.  There is plenty of vertical space to have it go on two lines, but instead it marquees.  I see the code in NotificationBanner to set the title to two lines when no subtitle exists, but it isn't working.

[2018-10-05 15:16] btelintelo opened #154 "Notification cannot be dismissed"
1. Create a notification that doesn't auto dismiss
2. Create a second notification that does dismiss
3. First notification can never be dismissed

The first notification gets suspended but never resumed
I should be able to dismiss a notification at any time, regardless if it is on top or not

[2018-10-05 15:31] Daltron commented on #154
@btelintelo feel free to open up a pull request!

[2018-10-05 15:33] btelintelo commented on #154
already working on it1

[2018-10-05 15:33] Daltron commented on #153
@btelintelo Unfortunately, this isn't how the base notification banner class is setup. If you want multiple lines for the title label, you'll need to use the custom view property!

[2018-10-05 15:33] #153 closed

[2018-10-05 15:34] Daltron commented on #149
Feel free to open a PR if you have a fix!

[2018-10-08 08:57] vinayakpal opened #157 "Status bar notification banner title not shown in iPhone Xs Max & Xr"
I observe some changes in newly launched iPhone that it has not shown title text in iPhone Xs Max &   iPhone Xr. Similarly if notification banner title shown in the middle of the notch in iPhone Xs Max & Xr

[2018-10-08 14:18] #154 closed

[2018-10-08 14:28] Daltron commented on #150
Hi @muhrifqii! 😄 This currently is not supported for `StatusBarNotificationBanner`'s but feel free to open up a pull request!

[2018-10-08 14:28] #150 closed

[2018-10-08 15:15] muhrifqii commented on #150
Hi, can you check PR #151 ? You can link to this issue if it is okay to merge

[2018-10-10 08:16] nealsun opened #158 "updateSpacerViewHeight should consider bannerPosition"
when bannerPosition is `.bottom`, finalHeight should ignore `navigationbarHidden` status.

[2018-10-10 15:50] marekpivovarnik commented on #157
Same here...

[2018-10-10 16:11] Daltron commented on #157
Hey guys! 😄 Feel free to open up a pull request as I do not have time to investigate every issue! Thanks!

[2018-10-17 01:41] kk143g commented on #123
1) Declare banner as global, like this
**var banner = NotificationBanner(title: "Success", subtitle: "Follow Successful", leftView: nil, style: .success)**

2) And then before showing any banner call this
**self.banner.dismiss()**
3) And then recreate banner or show previous one with
**Self.banner.show()**

[2018-10-17 02:43] Daltron commented on #141
This should now be resolved 👍

[2018-10-17 02:43] #141 closed

[2018-10-17 16:01] marekpivovarnik commented on #157
Migrating to Swift 4.2 and updating NotificationBanner pod to latest version seems to fix the problem for me ;) Sorry for false alarm...

[2018-10-24 04:08] #34 closed

[2018-10-24 04:08] #37 closed

[2018-10-24 04:08] #72 closed

[2018-10-24 04:08] #102 closed

[2018-10-24 04:08] #77 closed

[2018-10-24 04:08] #98 closed

[2018-10-24 04:08] #106 closed

[2018-10-24 04:08] #110 closed

[2018-10-24 04:08] #115 closed

[2018-10-24 04:08] #117 closed

[2018-10-24 04:08] #119 closed

[2018-10-24 04:08] #118 closed

[2018-10-24 04:08] #116 closed

[2018-10-24 04:08] #120 closed

[2018-10-24 04:08] #111 closed

[2018-10-24 04:08] #127 closed

[2018-10-24 04:08] #125 closed

[2018-10-24 04:08] #126 closed

[2018-10-24 06:39] hardikpatel83 commented on #77
In which branch this issue was fixed.

[2018-10-31 11:18] wsof401 opened #163 "BannerColorsProtocol add @objc"
In version 1.7.3, we code as

[code]

In 1.8.0,  BannerColorsProtocol add @objc, why a swift repo do so many work for objc

[2018-11-08 01:32] MenuHunt opened #166 "onTap closure is not called on banner with customer view"
Thanks for your great work!

I have the following code in my app to display a customer view, but onTap closure is not called when I tap the banner. In this example, it should but does not print "tapped".

        let notificationVC = NotificationViewController(nibName: "Notification", bundle: nil)
        let banner = NotificationBanner(customView: notificationVC.view)
        banner.autoDismiss =

[2018-11-08 01:42] Daltron commented on #166
Hi @MenuHunt! :smile can you try keeping a strong reference to the banner object and see if that changes anything? If it doesn't, I'd be more than happy to investigate if you could send me an example project which replicates the issue.

[2018-11-08 02:14] MenuHunt commented on #166
Thanks for your response. I figured out why it was not working. The reason was I had a big button covering the whole banner. That banner, I guess, was the first responder to the tap. After removing that unnecessary button, everything works now. Again thanks to your great work. It was my own mistake.

[2018-11-08 02:14] #166 closed

[2018-11-09 08:56] YMonnier opened #167 "NotificationBanner Pod not updated for Swift 4.2"
Hi,

I have installed `NotificationBanner` through _Cocoapods_ and when I build my project, I have the following errors:

<img width="387" alt="screen shot 2018-11-09 at 9 47 49 am" src="https://user-images.githubusercontent.com/9322425/48252366-e226dd00-e404-11e8-9a11-3578fbc5d954.png">

### Pod install

[code]

### Stack

[code]

[2018-11-12 23:29] stealdre commented on #167
@Daltron Same for me these devs are lost hahah

[2018-11-13 13:47] janisgs commented on #167
Same...

[2018-11-15 04:19] Arcovv opened #168 "Update SnapKit version to 4.2.0"
SnapKit pod version was updated to 4.2.0, but in .podspec required to `~> 4.0.1`. So SnapKit could not  to use Swift 4.2 in my project.

[2018-11-15 21:12] lozflan commented on #167
Same with me. I updated NotificationBanner from v1.6.3 to v1.8.0 today. Was working fine before except that banner was showing incorrectly on iPhone XS Max (not allowing properly for the notch & hence the reason for attempting the update). Now not working at all because of errors listed above. Is there a solution?

[2018-11-16 10:30] krachtstefan commented on #167
Could this issue be related to https://github.com/Daltron/NotificationBanner/issues/168?

[2018-11-19 14:37] eminemArun opened #170 "completion handler for banner.show method"
Hi Team,

Can we introduce new method banner.show() with completion handler?

[2018-11-20 16:02] tnylee opened #171 "“Cannot inherit from non-open class” on NotificationBanner"
Thank you for this awesome library!

I'd like to subclass `NotificationBanner` so I can customise it in one file. Possible to make this change with next update?

Thanks!

[2018-11-20 19:23] cojalvo opened #172 "custom view doesnt respond for gestures"
Hi, im using this great library.
Im trying to display a custom view which contains several buttons and text view. but somehow the custom view doesn't respond for any touch events.
I can see that when i touch the custom view which displayed in the banner the view which under it responding for this gestures. (its a map and i can see that it moving)
Any help will be appreciated.

Thanks

[2018-11-24 20:37] #136 closed

[2018-11-25 03:15] Mrweatherman208 opened #173 "Add Gradient Support"

[2018-11-27 14:51] DanielBalsalobre commented on #168
Same problem here

[2018-11-27 14:51] DanielBalsalobre commented on #168
Thanks, very useful

[2018-11-27 18:11] deafjam commented on #168
Not work for me. Same 7 issues.

[2018-11-27 21:47] jaytrisw opened #174 "Time before dismiss"
Is it possible to set the duration before automatically dismiss the banner?

[2018-11-28 07:12] Arcovv commented on #168
I fixed it. Change to `s.dependency 'SnapKit', '~> 4.2'` in .podspec would fix it.
https://github.com/Arcovv/NotificationBanner

If you met this problem, change your pod file to `pod 'NotificationBannerSwift', :git => 'https://github.com/Arcovv/NotificationBanner.git', :branch => 'master'` and run `pod update NotificationBannerSwift` in your terminal.

[2018-11-28 08:31] 29satnam commented on #148
I've found a trick, don't know if that's exactly what you want. But it's fine for me.

`            let banner = StatusBarNotificationBanner(title: "Unable to make connection, please check address & port.", style: .success)
            banner.bannerHeight = banner.bannerHeight + 5
            banner.show()`
This resolves issue of small banner for devices with notch and also add an extra 5 height f

[2018-11-30 12:05] arpitjainindianic opened #175 "Supoort for iPhone XR and iPhone XSMax"
Missing supoort for iPhone XR and iPhone XSMax

[2018-12-07 13:35] #144 closed

[2018-12-09 15:51] #147 closed

[2018-12-09 15:51] #103 closed

[2018-12-12 09:38] #149 closed

[2018-12-14 13:02] Lausbert commented on #175
Please upvote related pull request :)

[2018-12-17 16:33] ljellevo opened #180 "D"

[2018-12-17 16:33] #180 closed

[2018-12-17 17:18] #158 closed

[2018-12-23 16:08] #123 closed

[2018-12-24 20:06] #157 closed

[2018-12-30 11:20] aceisScope commented on #167
We solved this issue by manually setting the swift build version build settings of the NotificationBanner pod target to swift 4.2.

[2019-01-02 21:09] #148 closed

[2019-01-04 09:56] tdhman opened #183 "Legacy Swift Version when using ios pod"
Hello,

I'm trying to use the library inside a Nativescript Plugin for my hybrid application, however, I got this error due to unspecified swift version. I also try to set the swift version for pod target in Podfile but did not work. Any idea to bypass this issue ?

Thanks for any help.

[2019-01-06 12:48] #163 closed

[2019-01-09 23:11] PatrykKaczmarek commented on #103
Issue still occurs.

[2019-01-11 00:31] gmarzloff commented on #183
I was having trouble building it for a swift3 project and successfully built the app by setting the Swift Language Version to 4.2 in Xcode:

Pods -> Targets NotificationBannerSwift -> Build Settings tab -> Swift Language Version dropdown.

Looks like it's a [common problem](https://github.com/Daltron/NotificationBanner/issues/167#issuecomment-450554021)

[2019-01-11 08:15] tdhman commented on #183
Thanks @gmarzloff for your comment. That will also fix my problem if I use Xcode to build my app but as I use NativeScript build tools in command line to build my app, I cannot set the Swift version as you suggested because that error already occurs when NativeScript build tools try to build the Xcode project.
Since this is a common problem, should the library itself set the swift version to resol

[2019-01-11 15:06] gmarzloff commented on #183
@tdhman i added a[ pull request](https://github.com/Daltron/NotificationBanner/pull/184) to add `swift_version` to the podspec. you could try adding that to your podspec to see if it builds with NativeScript.  I haven't worked with NativeScript before, so I'm not sure if that will work though.

[2019-01-20 05:05] superman566 opened #185 "Cannot set dismiss time for NotificationBanner"
By default, it is 5s. But I feel it is longer, I need to set it shorter.

[2019-01-22 12:10] usmanhaider4545 commented on #185
banner.duration = 3

[2019-01-23 00:41] superman566 commented on #185
is it still working for v1.3? Because in my side, I am using swift 3.x.

[2019-01-25 16:01] #170 closed

[2019-01-25 21:45] gmarzloff commented on #185
I haven't tested swift 3 (I use swift 4.2 and v2.01), but have you tried more extreme values for duration? The unit seems much longer than one second, so I set mine to 0.5 which feels right.

`banner.duration = 0.5`

[2019-01-25 21:47] gmarzloff commented on #174
Use the duration property. I don't know what the unit is but it feels longer than one second.

`banner.duration = 0.5`

[2019-01-26 19:01] #171 closed

[2019-01-26 23:47] #172 closed

[2019-01-31 21:19] #173 closed

[2019-02-03 15:43] #168 closed

[2019-02-12 21:56] oinsider opened #186 "UIApplication applicationState called on a background thread"
Hi all,

I am getting a crash when showing a Banner. The library tries to access UIApplication.shared.delegate!.window!! from a background thread. I already tried dispatching asynchronously in a DispatchQueue.main.async but keeps happening.

[code]
I am testing in an iPhone XS Max with iOS 12.1.3

[code]

It seems to be related to the #126 issue.

[2019-02-13 14:20] iowlit opened #187 "A crash with applyStyling font parameter"
The following code will lead to crash, **bannerPosition** is not set.
[code]

[2019-02-13 14:43] denizeroglu commented on #187
Same for me. The crash occurs in `BaseNotificationBanner` class on `onOrientationChanged()` method.
[code]
https://github.com/Daltron/NotificationBanner/blob/17badd31e450b0a35917cf1a877dee7a77d9ae4f/NotificationBanner/Classes/BaseNotificationBanner.swift#L447

and here is my code, all parameters are valid `UIFont` or `UIColor` objects
[code]

[2019-02-13 14:54] denizeroglu commented on #187
Can be fixed temporarily by calling `banner.show(bannerPosition: .top)` before `applyStyling()` so `bannerPosition` is set. Style is still applied even though it's called after `show(bannerPosition:)`
E.g.
[code]

[2019-02-13 15:28] iowlit commented on #187
@denizeroglu, yes, it works, thanks!

[2019-02-13 15:36] Daltron commented on #187
Feel free to open up a PR to fix this!

[2019-02-19 14:32] #175 closed

[2019-02-28 02:51] johnlietzke opened #188 "Swift 5.0 Unexpected version number in 'available' attribute for non-specific platform '*'"
There are 70+ warnings in swift.

[2019-02-28 03:06] johnlietzke opened #189 "Banner if banner is active and when segueing to a new ViewController can not dismiss existing banner."
The banner begins a second time when active and switching to a new ViewController and can not be dismissed unless tapped.  The entire 5 seconds must be waited.

[2019-03-02 03:22] jcbriones opened #190 "Accessibility Enabled?"
Hi, I just want to ask how can you enable the accessibility options for the banner? I notice that the voice over doesn't highlight the UIView or even just the marque UI label. Is there a way to do this?

[2019-03-13 18:18] #167 closed

[2019-03-13 18:28] Daltron commented on #190
There currently is not any accessibility support. Feel free to contribute and open a PR if you find this feature would be useful! 👍

[2019-03-13 18:28] #190 closed

[2019-03-19 14:49] andremietti commented on #189
the same here

[2019-03-19 18:57] andremietti opened #192 "The func dismiss() not work"

[2019-03-20 13:53] #192 closed

[2019-03-28 14:43] wixvii opened #193 "issues on swipe up to notification"
Hey,
If there is some buttons-view etc. behind the notification banner. There is no swipe up for notification banner. How can I fix this ?
version is latest version.

[2019-04-01 01:43] aUcidme opened #194 "Update to Swift 5 please"
Update code to Swift 5.

[2019-04-01 19:25] Daltron commented on #194
@aUcidme Please feel free to open up a PR!

[2019-04-02 14:43] okdala2 opened #195 "Hey can we update to Swift 5"

[2019-04-02 15:57] #183 closed

[2019-04-02 22:57] #174 closed

[2019-04-02 22:57] #185 closed

[2019-04-04 08:31] SeanAsby commented on #194
I opened this PR (#196) to update to Swift 5.

[2019-04-04 08:31] SeanAsby commented on #195
I opened this PR (#196) to update to Swift 5.

[2019-04-05 14:52] Bandyliuk opened #197 "Status bar over banner"
Hello. Thanks for the library. I wrote code, that should solve next problem: when user complete some action, i need to show banner. If user fast done some actions(new banner call every 0.1-0.2 sec) and previous notifications still displayed, new notification showed over previous.

All work fine if user call code that written bellow slowly(every 2 seconds). But if user start call code fast(every 0.

[2019-04-17 12:57] osamaazmat opened #199 "Swift 5 and Xcode 10.2"
Can you please update this library for swift 5 and Xcode 10.2?

[2019-04-18 00:01] jcbriones commented on #199
NotificationBanner now supports Swift 5 but you have to manually specify the correct git. Also @Daltron, the dependency packages need to be updated as well since they also release a support for swift 5.

[2019-04-18 01:26] Daltron commented on #199
Sorry for the delay everyone. I will try to update to the latest version of xCode so we can get an official Swift 5 cocoapods release. @jcbriones are you aware of which dependencies need updated? A PR would be greatly appreciated if you have the time!

[2019-04-19 12:49] ins0u opened #200 "How to add buttons to the banner?"
Hello,

I like your project, it is easy and fast to use ^^

I have a question: Is it possible to put buttons in the banner like this ?

![banner](https://i.ibb.co/sVZ2bxZ/bannerbutton.png)

If it's possible, how ?

Thx for your help ^^

[2019-04-19 13:05] Daltron commented on #200
Hi @ins0u! 😄 You will need to create a custom view with the buttons then when you initialize your banner, use the `NotificationBanner(customView: yourCustomView)` initializer.

[2019-04-19 13:06] Daltron commented on #197
Hi @Bandyliuk! 😄 Feel free to open up a PR for it if you think you have a fix!

[2019-04-19 13:29] ins0u commented on #200
Yes that's what I understood by downloading the examples..

With NorthCarolinaBannerView, you create your custom view programmatically but how create view with storyboard/xib ?
If you have a quick example, I can easily adapt it :D

Sorry for my question, I am a beginner with swift/xcode and thank you for your help :)

[2019-04-20 23:34] #186 closed

[2019-04-21 15:45] Daltron commented on #199
Cocoapods release `2.1.0` now contains Swift 5 support! 🎉

[2019-04-21 15:45] #199 closed

[2019-04-21 15:46] Daltron commented on #195
CocoaPods release `2.1.0` now contains Swift 5 support! 🎉

[2019-04-21 15:46] #195 closed

[2019-04-21 15:46] Daltron commented on #194
CocoaPods release `2.1.0` now contains Swift 5 support! 🎉

[2019-04-21 15:46] #194 closed

[2019-04-21 15:46] Daltron commented on #188
CocoaPods release `2.1.0` now contains Swift 5 support! 🎉

[2019-04-21 15:46] #188 closed

[2019-04-21 15:57] #187 closed

[2019-04-21 16:42] jcbriones commented on #199
Sorry i just saw your comment but i guess you already did it. Thanks

[2019-04-23 20:36] AnderGoig opened #201 "Update dependencies"
Hi @Daltron, now that you have update your library to **Swift 5**, are you considering updating **MarqueeLabel** and **SnapKit** to their latest versions?

I'm talking about [MarqueeLabel 4.0.0](https://github.com/cbpowell/MarqueeLabel/releases) and [SnapKit 5.0.0](https://github.com/SnapKit/SnapKit/releases), both adding support to Swift 5.

Apart from this framework, I'm also using SnapKit on my

[2019-04-30 08:03] HassanTaleb90 opened #204 "What about the Right to Left support?"
Please add the RTL support

like that:
`statusBarNB?.applyStyling(titleColor: .white, titleTextAlign: .center, titleMarqueeType: .rightLeft)`

by adding:

[code]

to this extension in StatusBarNotificationBanner.swift:

[code]

[2019-04-30 13:26] ins0u commented on #200
Ok.. New Problem..

I create my customView with success.

This is my code :

![bannerCustomView](https://user-images.githubusercontent.com/12513250/56964165-e84b7a00-6b5a-11e9-9147-23e5c63d6d97.png)

To use it, this is my code :

[code]

But I have a little problem with the result :

![screenBannerBug](https://user-images.githubusercontent.com/12513250/56964660-ef26bc80-6b5b-11e9-9a40-2661f303fd87

[2019-05-01 17:32] mattbarker016 commented on #197
@Bandyliuk Thanks for making this issue. I just tried updating our [fork](https://github.com/Daltron/NotificationBanner/issues/103#issuecomment-374448316) to v2.1 while keeping the hack to resolve this issue, and it actually doesn't work any more.

[2019-05-02 02:00] #201 closed

[2019-05-02 19:17] jamierumbelow commented on #186
I've found this problem too, though it's being reported as `found nil while unwrapping an optional value`. Nor does wrapping in a `DispatchQueue.main.async` call fix it.

This is quite prohibitive, since, inter alia, we'd like to use this library to display connection errors, and we make API requests using a background thread.

[2019-05-02 20:27] oinsider commented on #186
Ok, I already solved this issue. Just make sure that you have the window property in the AppDelegate.

[code]

[2019-05-03 00:21] jamierumbelow commented on #186
Great - thank you. I had `window` already set, but turns out that the error only occurs when it's mutability is set to `let` rather than `var`.

[2019-05-03 19:00] benweitzman opened #206 "v2.2.0 doesn't work with MarqueeLabel 4.0.0"
Appears that MarqueeLabel is only supporting Swift and has dropped the name `MarqueeLabelSwift`  in favor of `MarqueeLabel` for imports, leading to the following error:

[code]

[2019-05-03 21:05] Daltron commented on #206
Please feel free to open up a PR!

[2019-05-04 13:58] Vitalik13 commented on #200
Hey @ins0u, easy way change banner.bannerHeight = 100. Best way set constraint and calculate height like GrowingBannerView

[2019-05-12 16:23] jagsrajput21 commented on #189
@johnlietzke Did you find any solutions? I am having the same problem.

[2019-05-24 14:02] DennisChatzim commented on #189
I have the same problem with the newer version Swift 5:
 If we have a StatusBarNotificationBanner which is set to .autoDismiss = false and it is visible, then if we try to dismiss it and immediately try to show another banner of any style then the first banner is never dismissed !
The only solution I found is to wait for the first banner until it is finished the dismissing (.dismissDuration) and t

[2019-06-03 15:50] #193 closed

[2019-06-05 01:47] falipate commented on #117
Wondering if this is achievable?

[2019-06-07 03:07] #206 closed

[2019-06-25 06:56] DennisChatzim commented on #189
Before every new .show() we can remove the banner by forcing removeFromSuperview like this:

static func removeAnyExistingBanner() {
        guard let window = AppDelegate.shared.window  else { return }

        let banners = window.subviews.filter { NSStringFromClass($0.classForCoder).contains("NotificationBannerSwift") }
        for b in banners {
            b.removeFromSuperview()
        }

[2019-06-27 19:45] tumispro opened #209 "Left view image very small"
Is it possible to make the left view a bit bigger? I added an imageview with an image as per the example, but it is a bit small.

![Simulator Screen Shot - iPhone Xʀ - 2019-06-27 at 21 37 06](https://user-images.githubusercontent.com/1461426/60295664-8de55480-9924-11e9-8d46-87b620a649d5.png)

[code]

Lovely package btw! ❤️

[2019-06-27 20:17] Daltron commented on #209
Hi @tumispro! I just pushed out a 2.3.0 to Cocoapods where you can set the `sideViewSize` when initializing a banner object like so:

[code]

Does this work for you?

[2019-06-27 20:28] tumispro commented on #209
Whew that was fast, and it works like a charm! Thank you so much for offering such excellent support!

[2019-06-28 01:06] Daltron commented on #209
Glad to hear it works for you! Thanks for the kind words!

[2019-06-28 01:06] #209 closed

[2019-07-06 08:08] danqing opened #210 "Support translucency?"
Thanks for this great library! It has worked very well for me :)

I'm wondering if there's plan to support translucent banners. I think having such an option can make the banner look very native and polished in certain scenarios.

[2019-07-06 08:49] #204 closed

[2019-07-07 18:57] #197 closed

[2019-07-10 15:22] #200 closed

[2019-07-11 04:10] Clint1994 opened #212 "Please fix issue - banner is not dismissing"
Hi there!

I have an issue when trying to dismiss a status bar banner if .autoDismiss = false

The first banner that appears does not dismiss when trying to .show another one.

             ` if DataSnapshot.exists() {
                print(" Darn username already exists")

                noBanner.show()
                noBanner.autoDismiss = false

            } else {

                print("Ya

[2019-07-11 10:54] dregatos commented on #197
Hi @mattbarker016,

I ran into the same problem. Just use the `windowLevel` to temporarily hide the status bar, like the framework is already doing...

See, https://stackoverflow.com/a/44066303

[2019-07-11 23:29] rigaldamez opened #213 "NotificationBanner rounded corners?"
This is more of a question...

Is there an ability to show the banner with rounded corners?

thank you

[2019-07-12 14:57] Daltron commented on #212
Hi @Clint1994! 😄 Can you create an example project demonstrating this issue please?

[2019-07-12 15:02] Daltron commented on #213
Hi @rigaldamez! 😄 This isn't currently possible. I will make this a feature request and will try to find some time to implement this. Stay tuned! 👍

[2019-07-12 15:25] Daltron commented on #213
@rigaldamez is something like this what you are thinking?

![FloatingBanner](https://user-images.githubusercontent.com/9689335/61139631-4b2c8c00-a48f-11e9-921f-d2a71ea8a440.png)

[2019-07-12 16:12] Daltron commented on #213
You should be able to accomplish this by using `FloatingNotificationBanner` in the `2.4.0` release! 🎉

[2019-07-12 16:12] #213 closed

[2019-07-13 03:58] rigaldamez commented on #213
![image](https://user-images.githubusercontent.com/29295300/61166738-ed24a500-a571-11e9-9560-b54142e82580.png)
 Thats exactly what I meant :) - I have updated to the latest `2.4.0 `release but can't seen to see the option to create a `FloatingNotificationBanner`, am I missing something?

[2019-07-15 00:23] jminutaglio opened #215 "GrowingNotificationBanner not working on Swift 5"
GrowingNotificationBanner throws a SIGABRT.  using version v 2.4.0 when displaying on a UITableViewController - NotificationBanner works ok.

[2019-07-15 02:03] rigaldamez opened #216 "FloatingNotificationBanner missing on recently release 2.4.0?"
Hi,

regarding #213

![image](https://user-images.githubusercontent.com/29295300/61192547-4288bf80-a6f4-11e9-82b3-52664eed1085.png)

[2019-07-15 02:48] Daltron commented on #216
Hi @rigaldamez! :smile I plan on fixing this tomorrow. Sorry for the inconvenience. Stay tuned!

[2019-07-15 02:50] Daltron commented on #215
Hi @jminutaglio! Could you please provide some sample code or even better yet, a sample project showcasing this behavior please?

[2019-07-15 03:27] jminutaglio commented on #215
I was passing subtitle: something that wasn't a string so this is my error and it can be closed.  may be an opportunity for better error handling but I have it working now.  ty for the quick reply!!

[2019-07-15 14:37] Daltron commented on #216
This has been fixed in the 2.4.1 Cocoapods release!

[2019-07-15 14:37] #216 closed

[2019-07-15 14:37] #215 closed

[2019-07-15 14:37] Daltron commented on #213
This has been fixed in the CocoaPods `2.4.1` release!

[2019-07-15 14:39] Daltron commented on #210
Hi @danqing! 😄 Do you have a screenshot you could share? Also, feel free to open a PR if you have time and would like to take a stab at this!

[2019-07-16 00:51] rigaldamez commented on #216
thanks Daltron, how can I load a custom view within `FloatingNotificationBanner`?

![image](https://user-images.githubusercontent.com/29295300/61258162-6eb74580-a7b3-11e9-8dcd-36370c784773.png)

[2019-07-16 01:16] Daltron opened #217 "Custom views for FloatingNotificationBanner"

[2019-07-16 01:17] Daltron commented on #216
That currently isn't possible as `FloatingNotificationBanner` doesn't inherit from `NotificationBanner` which is the only class that supports custom views. This definitely needs to be added though. I have created an [issue](https://github.com/Daltron/NotificationBanner/issues/217) to track this.

[2019-07-17 14:15] Daltron commented on #210
This can now be found in the `2.5.0` CocoaPods release by adjusting the `transparency` property on any type of notification banner!

![Transparent Notification Banner](https://user-images.githubusercontent.com/9689335/61382858-28292000-a873-11e9-8a23-36ddbe41924c.png)

[2019-07-17 14:15] #210 closed

[2019-07-17 14:15] Daltron commented on #217
This can now be found in the `2.5.0` CocoaPods release!

[2019-07-17 14:15] #217 closed

[2019-07-17 14:16] Daltron commented on #216
@rigaldamez, this can now be found in the `2.5.0` CocoaPods release!

[2019-07-17 14:48] danqing commented on #210
Hi @Daltron thanks for the reply!

I don't have time right now but maybe I can find some time to do it later if it hasn't been done by then. It's good that there's transparency support! However, I'm referring to translucency like the following (the matte glass effect signature to iOS) and not simply an alpha of < 1.

![](http://media.idownloadblog.com/wp-content/uploads/2014/12/Flesky-5.0-for-iOS-

[2019-07-17 21:56] jminutaglio opened #218 "NIL found in optional value for 2.5.0"
Hi!  It looks like 2.5.0 isn't backward compatible w/ 2.4.1?  I'm getting an optional value as NIL error on:
let banner = NotificationBanner(title: "👎🏻 - Not interested.", subtitle: "Blah", style: .danger)
        banner.show()

[2019-07-18 16:29] jminutaglio commented on #218
that resolved it ty!

[2019-07-19 13:09] #218 closed

[2019-07-22 01:04] rigaldamez commented on #216
finally got a chance to test this and its not working for me... do I need to set the corner radius?

[code]

[2019-07-22 03:13] Clint1994 commented on #212
@Daltron  Yes of course! I'll get to it.

[2019-07-22 13:25] Daltron commented on #216
You will need to set the `cornerRadius` when calling the `show()` method like so: `show(cornerRadius: 10)`

[2019-07-22 20:12] rurza opened #219 "new transparency feature causes black background on banners with custom view"
`init(customView: UIView)` calls `init(style: BannerStyle, colors: BannerColorsProtocol? = nil)`  where `colors` parameter is nil. `BannerColors().color(for: style)` returns `.clearColor` (which is black with 0 opacity). Setter of backgroundColor (`let color = newValue?.withAlphaComponent(transparency)`) changes it to black color...

[2019-07-22 20:16] rurza opened #220 "#171 again. BaseNotificationBanner and subclasses can't be subclassed"
Hi!
Great framework! Is it an API design decision or is it a bug?

[2019-07-22 20:40] Daltron commented on #220
Thanks for bringing this to my attention. These have all been made `open`, thus subclass able in the CocoaPods `2.5.1` release!

[2019-07-22 20:40] #220 closed

[2019-07-22 20:40] Daltron commented on #219
Thanks for bringing this to my attention. This has been fixed in the CocoaPods `2.5.1` release!

[2019-07-22 20:40] #219 closed

[2019-07-22 23:40] rigaldamez commented on #216
I'm scratching my head, this is my code and the output is still square corners?

![image](https://user-images.githubusercontent.com/29295300/61672086-76359c00-ad29-11e9-8b0c-a3e3d930510f.png)

![image](https://user-images.githubusercontent.com/29295300/61672161-bd239180-ad29-11e9-8a47-791b8f22c88d.png)

[2019-07-23 01:54] Daltron commented on #216
<img width="414" alt="Screen Shot 2019-07-22 at 3 53 58 PM" src="https://user-images.githubusercontent.com/9689335/61676796-dba27200-acc2-11e9-9a32-5890e9736265.png">
Can you show me what your custom view consists of and how you are initializing it. I'm not seeing any issues.

[2019-07-23 03:28] JamesCastrejon opened #221 "Animations?"
This is a request for a new feature. I'm planning on using this since it's really neat and looks great, but I realized the animations are all the same.

What I mean is that they all seem to kinda just drop down from the top. This by no means is bad in any way, I was just wondering how cool it would be if there were more animations.

For example: It can appear over the span of 1 sec (0 to 100% opac

[2019-07-23 03:46] rigaldamez commented on #216
Initialising `myCustomView` and displaying using `FloatingNotificationBanner`

[code]

This is my `NotificationBannerReply`

[code]

[2019-07-24 13:22] Daltron commented on #216
I believe the problem is your loading your contentView from a xib and adding it as a subview. There is no workaround for this right now. You will need to set the cornerRadius of the contentView yourself in the xib or via code in this class. It should work then. 👍

[2019-07-24 18:10] maxilapo opened #222 "Bottom banner broken after rotation"
Hello,

So my problem is when I rotate the iPad while the notification is showing.

**The code I use to show the banner**:
`let banner = NotificationBanner(title: "lolol", subtitle: "subtitle", style: .success)
        banner.show(bannerPosition: .bottom)`

If I rotate the iPad while the notification is visible, i got this:
![Screenshot](https://user-images.githubusercontent.com/3606588/61817424-8

[2019-07-24 23:13] rigaldamez commented on #216
that worked!

Thanks so much for your support and for the great work you've put in to make this library available for us learners to use :)

[2019-07-25 07:18] magiusdarrigo commented on #126
Has anyone found a solution to this issue? I am getting 5 lines of code in the swift locked files that say the same error. I am working with Swift 4.

[2019-07-25 07:24] magiusdarrigo opened #223 "___________ ... must be used from main thread only crashes in Swift 4."
Using the simple self.eventBanner.show() command does not show the banner and creates 5 errors about needing to be in the main thread.

![Screen Shot 2019-07-25 at 2 23 54 AM](https://user-images.githubusercontent.com/43056803/61854235-46021080-ae83-11e9-9bb3-14f8c6521aea.png)

What could I do to fix this? Thanks.

[2019-07-25 15:54] Daltron commented on #223
You need to do exactly what it is telling you to do, to make sure you are calling `self.eventBanner.show()` on the main thread! 😃

[2019-07-25 15:54] #223 closed

[2019-07-25 16:22] ptseng commented on #221
I think it would also be a nice feature to be able to display the banner without the animation, or to be able to replace the frontmost banner being displayed without animations.

[2019-07-25 23:49] MohamedElgharbawy opened #224 "Option to dismiss a banner the moment a new banner is about to appear"

[2019-07-26 01:57] yushuyi opened #225 "iOS 13 private let appWindow: UIWindow = UIApplication.shared.delegate!.window!! crash"
iOS 13 use UIWindowScene .  private let appWindow: UIWindow = UIApplication.shared.delegate!.window!! crash

[2019-07-30 05:37] Akki9326 opened #227 "Is there any way to update message of existing notification?"
I have a scenario to handle, in that I need to show a notification on one event but if event 2 will occur then I have to update the message of the same notification.

is there any way that I can do it?

and Thanks for a great library. 🤘🏽 😊

[2019-07-30 08:50] ar-narola opened #228 "toolbar Hideen when banner show"
when NotificationBanner is show that time toolbar is hidden

[2019-07-30 13:23] Daltron commented on #228
Closing due to lack of information.

[2019-07-30 13:23] #228 closed

[2019-07-30 13:24] Daltron commented on #227
Hi @Akki9326! 😄 What you are looking for is this `banner.titleLabel.text = yourText`. The same can also be done with the subtitle label!

[2019-07-30 13:24] #227 closed

[2019-07-31 23:38] Clint1994 commented on #224
Cant you just .dismiss() the current banner then .show the new one?

[2019-07-31 23:42] MohamedElgharbawy commented on #224
How would I dismiss the past banners if I'm calling this function multiple times?

[code]

[2019-07-31 23:43] MohamedElgharbawy opened #230 "Floating banner has no beginning animation if it is called in swipe to delete tableView function"
I have the following tableView function:

[code]

[2019-08-01 01:45] Clint1994 commented on #212
I actually figured the issue out, it was my code, learned more about how the queue works!

[2019-08-01 01:45] #212 closed

[2019-08-02 07:20] Akki9326 commented on #227
Thank you @Daltron, I haven't seen your reply, but indirectly I have created a method that will update the subtitle for me.

And Again thanks for the great Library.

[2019-08-02 19:01] fchauvin opened #231 "Swift Package Manager support"
Would love to see this now that Xcode 11 treats it as a first class citizen!

[2019-08-02 19:16] Daltron commented on #231
Hi @fchauvin! 😄 This is definitely on my todo list, but all other dependencies like `MarqueeLabel` and `SnapKit` have to support SPM as well first.

[2019-08-02 19:19] fchauvin commented on #231
Great!

Looks like `SnapKit` has it supports on a master, and a PR is currently opened for `MarqeeLabel` for support. 👍

[2019-08-04 01:04] Clint1994 commented on #189
@DennisChatzim  ^^ is this the way to dismiss any banners after segueing?

[2019-08-04 04:50] DennisChatzim commented on #189
Before you present a new banner you can use the above method to make sure the new banner will be the only one visible.
After you present it the auto dismiss or tap feature will work great in order to hide again the new banner.
The problem was happening only if you try to present a new banner above an existing visible banner.

[2019-08-05 19:41] Captnwalker1 opened #232 "Custom View Banner cannot be swiped away"
Hello,
  I have a banner made with a customView with multiple views inside of it. It seems touch and swipe would not close the notification, on the root view that I use as the customView init I tried setting `isUserInteractionEnabled = true` and also false but doesn't seem to make a difference.

Do the gestures not work with customView?

[2019-08-05 20:58] Daltron commented on #232
Hi @Captnwalker1! 😄 It definitely sounds like one of your views inside your custom view is intercepting the touches and gestures. I would go through each view and try to figure out which ones are causing the issues. This doesn't sound like a problem with the library its self so I will go ahead and close the issue.

[2019-08-05 20:58] #232 closed

[2019-08-05 21:00] Daltron commented on #230
Hi @MohamedElgharbawy! 😄 It sounds like the notification banner is trying to be shown outside the main thread. This doesn't sound like a problem with the library its self so I will need to close this issue.

[2019-08-05 21:00] #230 closed

[2019-08-05 22:43] MohamedElgharbawy commented on #230
Thanks! Putting it in the main thread fixed the issue.

[2019-08-05 23:41] Captnwalker1 commented on #232
It is an error with the banner's bounds. I put a custom view in which is 130 tall but the banner is stuck at 64 for bounds so the taps are never delivered on the bottom half of the view.

Example project attached.
[BannerTest.zip](https://github.com/Daltron/NotificationBanner/files/3469712/BannerTest.zip)

[2019-08-05 23:45] Captnwalker1 commented on #232
I also now see the bannerHeight property, so a suggestion when the banner is created with a custom view to auto populate that from the customView's height

[2019-08-08 07:27] alperkayabasi opened #233 "App doesn't recognize touches after banner is shown."
Hello.
We have an application that shows NotificationBanner if the app receives a push notification when it is active.

This is the code, we show the alert in the simplest way, on the main window;

`let banner = NotificationBanner(title: title, subtitle: body, style: .none)
banner.show()`

After notification is shown on screen, the application window does not receive additional touches and gives t

[2019-09-06 23:34] ashleyevans commented on #225
this issue still exists on iOS 13, any plans to push a fix?

[2019-09-07 01:55] Daltron commented on #225
Hi @ashleyevans! 😄 Please feel free to open a PR for this if you have one.

[2019-09-07 13:30] ashleyevans commented on #225
Hi @Daltron i've submitted a PR :)

[2019-09-10 08:15] punto2018 opened #236 "GrowingNotificationBanner not available in objective-c"
Hi,
the library is written in swift but works with minor issues  also with objective-c projects.
The class GrowingNotificationBanner can't be inited in objective-c so can't be used.
Can you please fix it?

Thanks

[2019-09-11 08:09] mrsnow-git opened #237 "Wrong changes in last release"
I looked at last release changes and see next thing:

in file NotificationBanner/Classes/FloatingNotificationBanner.swift : 134

You added the guard for blurRadius. But this is mistake - shadow can exist even if blurradius == zero, but have offset. Why you added it?

[2019-09-11 21:01] #225 closed

[2019-09-18 16:22] Abdulaziz-si opened #239 "Custom font won't apply"
Hello
I'm trying to use a custom font for the title but it won't work , although I tried to change title color and it's fine however when it's come to font nothing is happening and no error showing up in the debug console
my code looks like this:

let rightView = UIImageView(image: #imageLiteral(resourceName: "change password icon").filled(withColor: .white))
            let banner = GrowingNotifi

[2019-09-24 15:25] oferRounds opened #240 "iOS 13: banner shown bellow Status Bar"
Hi,
Thanks for this awesome library!

Probably you encounter this bug already, but I couldn’t find an open issue regarding it

Starting from iOS 13, there’s a problem where the banner shows itself beneath the Status Bar

Is there a way to solve it?

Thanks a lot!

[2019-09-25 09:29] igorkulman commented on #240
Same problem also on iOS 13.1, here is a screenshot running the sample app in 6S

![Simulator Screen Shot - iPhone 6s - 2019-09-25 at 11 28 28](https://user-images.githubusercontent.com/4746070/65588351-a72f8880-df87-11e9-924c-1080fa2ac8a2.png)

[2019-09-26 02:06] StarWars commented on #240
It seems that on devices from the X family, top banners are not visible at all. They are hidden below the navigation bar or the status bar - I am not sure which one.

[2019-09-26 02:12] Daltron commented on #240
Hey everyone! 😄 I am aware that this is kind of a critical issue for non-notch devices running iOS 13. Unfortunately, it doesn't look like the `UIWindow.windowLevel` property works anymore on iOS 13 with the introduction of scenes. I am more than happy to discuss possible solutions to help address this issue. Here is maybe what I am thinking: _For non-notch phones and status bar notifications, hav

[2019-09-26 02:21] Daltron commented on #239
Hi @Abdulaziz-si! 😄 My guess is `UIFont(name: "DroidKufi-Bold", size: 16)` is returning nil. Can you check to see if this is the case. If it is, make sure to add it to your supported fonts in your plist file.

[2019-09-26 02:22] Daltron commented on #237
Hmmm this might have been a mistake on my end, but I'm not exactly sure. If you open up a PR, I would be happy to take a look! 😄

[2019-09-26 02:23] Daltron commented on #236
Hi @punto2018! 😄 Unfortunately, I am not interested in keep NotificationBanner up to date to support  Objective-C. If you find a solution and want to open up a PR, I would be happy to take a look! 😄

[2019-09-26 02:23] #236 closed

[2019-09-26 02:25] Daltron commented on #233
If you could provide a sample application, I would be happy to take a look! 😄

[2019-09-26 06:52] igorkulman commented on #240
What about something like this? So starting in the status bar area but showing the text under it

![image](https://user-images.githubusercontent.com/4746070/65665057-ef5bb300-e03a-11e9-93f2-ad10a32e16a0.png)

I found it checking if other libraries have the same problem (and sure they have because of the reasons you mention)

[2019-09-26 09:44] mrsnow-git commented on #237
i'll add it after my current pr will be merged, to avoid possible merging problems for now... :)

[2019-09-26 09:51] igorkulman commented on #240
Using some adjustments I got to this

![Simulator Screen Shot - iPhone 6s - 2019-09-26 at 11 47 02](https://user-images.githubusercontent.com/4746070/65678546-c98ed800-e053-11e9-83f0-4f312bac731c.png)

By updating `StatusBarNotificationBanner` and adding `heightAdjustment` property just for this case

[code]

[2019-09-27 05:13] wiencheck commented on #240
If we can still access the status bar window by calling

‚UIApplication.shared.value(forKey: "statusBarWindow") as? UIWindow’

why don’t just hide the status bar or animate it so it slides up out of the screen and later returns?
Surely not the best solution but should do it for now

[2019-09-27 08:24] oferRounds commented on #240
Looks good! I also think that’s a reasonable solution

[2019-09-29 18:44] #222 closed

[2019-09-30 16:44] #221 closed

[2019-10-01 08:44] ooosv opened #242 "NotificationBanner crashes when project does not use Storyboard"
When you try to include the NotificationBanner in a project that does not use the Storyboard, it crashes because the window for `UIApplication.shared.delegate?.window` is nil.

[code]

It should be:

[code]

[2019-10-01 13:24] Daltron commented on #242
Hi @ooosv! Please feel free to open up a PR for this please!

[2019-10-06 17:03] Abdulaziz-si commented on #239
yes it was returning nil , something was missing in my plist
problem solved
thank you sooooo much

[2019-10-06 17:03] #239 closed

[2019-10-07 01:02] #224 closed

[2019-10-08 00:32] #240 closed

[2019-10-08 00:44] Daltron commented on #237
@mrsnow-git do you still plan on creating a PR for this?

[2019-10-08 00:44] Daltron commented on #233
Closing as I don't believe this is an issue with the library its self. Please feel free to re-open if you think otherwise.

[2019-10-08 00:44] #233 closed

[2019-10-08 00:45] #189 closed

[2019-10-08 08:42] mrsnow-git commented on #237
Waiting for merge and new release ;)

[2019-10-08 12:57] KoD4K commented on #240
Hi everyone!
But after update to 2.6.0, I don't see any notification on my simulators Xr and 8. Is it ok? May be someone else also get it or it's only my fault?

[2019-10-08 14:27] #237 closed

[2019-10-09 11:35] sabiland opened #245 "Add BannerPosition.centerScreen?"
It would be really cool if there would be an option to show banner in the center of the screen.

[2019-10-10 05:07] urvikoladiya opened #246 "support NSAttributedString in GrowingNotificationBanner or Label Padding"
Please add NSAttributedString in GrowingNotificationBanner or allow Editing in `Title` & `Subtitle` Label's padding(provide Editable property) so label can be adjust as per need. Also using CustomView it is difficult to grow notification height according to dynamic UI elements height. Please provide this features as soon as possible.
Thank you.

[2019-10-10 10:35] SergejLogis opened #247 "Status Bar not hidden and overlaps NotificationBanner on iOS 13"
We use `NotificationBanner` to display toast notifications over the Status Bar. On iOS 13 Status Bar is not hidden when notification banner is presented, therefore its contents overlapped by Status Bar. We are using latest `NotificationBannerSwift 3.0.0`.

Overlapped on iOS 13.
![notificationbanner_statusbar](https://user-images.githubusercontent.com/32644729/66561597-72642980-eb62-11e9-9fae-a00b8

[2019-10-10 13:24] Daltron commented on #247
Hi @SergejLogis! I just created a sample project using version 3.0.0 and everything is working as expected. Please make sure you are actually running version 3.0.0 and try again! 😄

[2019-10-10 15:51] lvnkmn commented on #231
`MarqueeLabel` now (or maybe a little while actually) has support for this in its [Xcode 11 branch](https://github.com/cbpowell/MarqueeLabel/tree/xcode11)

[2019-10-11 13:56] SergejLogis commented on #247
Thanks, Daltron!
I've tried to create a simple separate project with NotificationBannerSwift 3.0, but the issue is still there. Could you please share your code?
Thanks.

[2019-10-11 13:57] Daltron commented on #247
@SergejLogis Can you upload your sample code here please so I can take a look?

[2019-10-11 14:03] SergejLogis commented on #247
We use a custom view for notifications, and its class is quite large. But the actual notification is presented like that:
[code]

[2019-10-11 14:05] Daltron commented on #247
@SergejLogis Without seeing your project, it's going to be nearly impossible for me to help determine why you are not seeing the 3.0.0 changes. The presentation of the banner is not the issue here. If you could create a separate demo project showcasing the issue, that would be extremely helpful.

[2019-10-11 14:29] SergejLogis commented on #247
OK. I will try to do it :) Thanks!

[2019-10-13 16:29] wiencheck opened #248 "UIMenuController is not being displayed when NotificationBanner is present"
Before the new update for iOS 13 came out UIMenuController worked as desired, but now if NotificationBanner is visible I can't get it to display. When NotificationBanner disappears UIMenuController works as ususal.

[2019-10-13 17:39] appcornerit opened #249 "Dark mode support"
Hi,
would be great to add a dark mode support without create a custom view.

[2019-10-14 00:36] Daltron commented on #248
Hi @wiencheck! 😄 Please feel free to open up a pull request. I'm about 99% confident it has something to do with the adjustment of the status bar level.

[2019-10-14 00:37] Daltron commented on #249
Hi @appcornerit! What exactly do you have in mind for dark mode? Dark mode is typically used in black/white scenarios. However, notification banners are very vibrant colors. If you create a PR, I would be happy to take a look. 😄

[2019-10-14 00:39] Daltron commented on #245
Hi @sabiland! 😄 Thanks for the suggestion but I don't really think this would be a great experience for the user. Please feel free to open up a PR and I will be happy to take a look and consider it.

[2019-10-14 00:39] #245 closed

[2019-10-14 09:23] SergejLogis commented on #247
Since I'm using a custom view for notification, I have fixed the issue on my side. For some reason, `heightAdjustment` is ignored, so I just moved the message label down by the height of Status Bar in my custom view.

[2019-10-14 09:23] #247 closed

[2019-10-16 09:27] wiencheck opened #253 "How to 'opt out' of stacked banners?"
Even though I'm using the `.default` queue for displaying banners (which has the `maxBannersOnScreenSimultaneously` set to 1 by default) the banners are being displayed on a stack. I guess it's a bug, I'm using the `StatusBarNotificationBanner`, Tested on iOS 13.1

[2019-10-17 15:50] TemperMichael opened #255 "Customizable top offset for StatusBarNotificationBanner"
Currently the StatusBarNotificationBanner has a fixed top offset for the title since iOS 13 does not allow covering the status bar on non-notch iPhones. The problem is, that with this offset, the banner can cover items/the title of the navigation bar - and if you change the bannerHeight, the text in the NotificationBanner gets cut. Therefore, it would be useful if the top offset would be public/cu

[2019-10-22 14:17] Daltron commented on #253
Hi @wiencheck! 😄 Could you provide a GIF of what you are seeing as I am not currently see the issue in the example project.

[2019-10-22 14:21] Daltron commented on #253
Actually, it looks like something unexpected is happening when your adding to the front of the queue. Is this the issue you are referring to?

![Simulator Screen Shot - iPhone 11 - 2019-10-22 at 09 20 23](https://user-images.githubusercontent.com/9689335/67295901-5ee38780-f4ad-11e9-8c10-a107732d8ff7.png)

[2019-10-22 15:15] mltbnz opened #256 "Customize Animation style"
I would love to have access to the Animation parameters of the `show` function

[2019-10-27 13:52] cikpis opened #258 "Banner isn't showing in 3.0.0"
Replacing
[code]
with
[code]
solved the problem.

[2019-10-31 03:55] tonythebully commented on #222
Hopefully this helps others, but I was able to fix it on a fork by changing the rotation notification that `BaseNotificationBanner.swift` was observing from:

`UIDevice.orientationDidChangeNotification`
to
`UIApplication.didChangeStatusBarOrientationNotification`

[2019-11-01 09:21] kevincador commented on #258
Hi,

I'm having the same kind of problem. The issue is that I have multiple windows in my app that shows overlay things on top of the main window.

My fix was to get the `last` window instead of the `first`. So:

[code]

[2019-11-02 07:57] fishercraigj opened #259 "Adding left and right view to banner causes issues"
For reference: Xcode 11 with min version set to iOS 11 with Swift 5.

Maybe I'm doing something wrong but if I set the left button view and the right button view, the two views end up stacking up on eachother and my title is completely gone.  See screenshot for reference.

![Screen Shot 2019-11-02 at 12 52 25 AM](https://user-images.githubusercontent.com/1421161/68067909-496f2880-fd0b-11e9-9413-81

[2019-11-03 12:09] premedios opened #260 "NotificationBanner not showing as a framework in Pod directory"
I installed NotificationBannerSwift as per CocoaPods instruction for Xcode 11. But it's not showing up in the frameworks directory in Pods and it's not available to import as a module. And I'm using use_frameworks! in the Podfile.

[2019-11-04 06:00] birdmichael commented on #260
me 2

[2019-11-15 06:40] kvkvkvkvkvkv commented on #258
I'm facing this issue too on iOS 13. Suggested solutions to change from "first" to "last" works. Thanks!
Is this in any PR?

[2019-11-15 15:47] #231 closed

[2019-11-16 00:08] peacemoon opened #262 "3.0.2 is not compileable"
Just run carthage update and it doesn't work. I'm using Xcode 11.1.

![Screenshot 2019-11-16 at 01 08 04](https://user-images.githubusercontent.com/478757/68983892-9542c700-080d-11ea-91f0-562a35ca1a5b.png)

[2019-11-16 00:11] peacemoon commented on #262
It seems that this file `UIWindow+orientation.swift` is somehow missing.

[2019-11-16 16:39] jp-dubey07 commented on #167
<img width="1010" alt="Screenshot 2019-11-16 at 21 59 39" src="https://user-images.githubusercontent.com/5441735/68996277-c7abfd00-08bd-11ea-9d33-f8efa8ea140d.png">

[2019-11-16 19:26] fredpi commented on #262
Same for me with Xcode 11.2

[2019-11-16 19:32] fredpi commented on #262
Also doesn't work with `3.0.1` – `3.0.0` is the last working release

[2019-11-17 08:56] peacemoon commented on #262
I open a PR to fix the issue https://github.com/Daltron/NotificationBanner/pull/263

[2019-11-18 09:39] peacemoon commented on #262
@Daltron  thank you for merging my PR. Can you create a new tag so that `Carthage` works again. I'll close this issue afterward then.

[2019-11-20 11:41] JMCPH commented on #258
Has any of you made PR on this issue? Else I will do it.

[2019-11-20 13:53] peacemoon commented on #262
@Daltron could you please create a new tag to include the fix in the PR.
The tag 3.0.2 is totally broken now.

[2019-11-21 17:47] nadimalam opened #265 "Custom Banner placement issue"
I create a banner with a custom view with the code below:

`                let banner = NotificationBanner(customView: alertBanner)
                banner.show(
                    on: topVC
                )
                banner.onSwipeUp = {
                    banner.dismiss()
                }`
However, the banner then appears behind the status bar. Like the image below.

![Screenshot 2019-

[2019-11-22 07:57] cikpis commented on #258
@JMCPH Feel free to do it.

[2019-11-25 12:12] SRowley90 opened #266 "iOS 13 StatusBarNotificationBanner behind status bar"
It seems like iOS 13 when showing a StatusBarNotificationBanner it appears behind the status bar when i'd expect it to be on top. Working fine on iOS 12 in the Simulator.

[2019-11-26 10:56] nadimalam commented on #265
Any help with this please?

[2019-11-29 10:43] #265 closed

[2019-12-02 20:33] vburojevic opened #270 "UIApplication connectedScened Crash on iOS 13"
In the project I'm working on, we're getting crashes related to `connectedScenes`.

`Fatal Exception: NSInvalidArgumentException
-[UIApplication connectedScenes]: unrecognized selector sent to instance`

`Fatal Exception: NSInvalidArgumentException
0   CoreFoundation                 0x1a7d7298c __exceptionPreprocess
1   libobjc.A.dylib                0x1a6f4b9f8 objc_exception_throw
2   CoreFounda

[2019-12-05 13:24] JonasSL commented on #266
I'm also experiencing this bug.

[2019-12-07 14:59] #242 closed

[2019-12-12 13:57] svenniemann opened #272 "Banner position issues"
I encountered several banner position issues.
Seems like it happens when a new banner is triggered while the visible one is disappearing.
I was able to reproduce it with the sample App:

![Simulator Screen Shot - iPhone 8 - 2019-12-12 at 14 28 30](https://user-images.githubusercontent.com/1859415/70717791-5fe7a700-1cef-11ea-8f16-61966d526c59.png)

![Simulator Screen Shot - iPhone 8 - 2019-12-12 at

[2019-12-19 18:03] CognitiveWin commented on #262
This is still broken for me. Any updates?

Thanks for taking the time to fix this @peacemoon

[2019-12-20 01:14] #248 closed

[2019-12-20 01:14] #249 closed

[2019-12-20 14:54] peacemoon commented on #262
@CognitiveWin you can point your carthage to "master" to fix the issue. But I still prefer to have a fixed version to avoid any unwanted changes with a moving master.

[2019-12-20 21:22] Daltron commented on #262
Hi all, sorry for the delay! I just pushed a new tag `3.0.3`. Please let me know if this resolves the issue. Thank you all for being patient!

[2019-12-23 21:14] #255 closed

[2019-12-27 12:27] ttansky commented on #209
Hi! But what if i use FloatingNotificationBanner? I can't add sideViewSize

[2019-12-27 13:25] ttansky opened #273 "Can't add cornerRadius to leftView"
Got this error when trying add cornerRadius:
<CATransformLayer: 0x600000d5dea0> - changing property cornerRadius in transform-only layer, will have no effect

[2019-12-28 15:52] #253 closed

[2019-12-28 16:52] #256 closed

[2019-12-30 14:30] flexaddicted opened #274 "Providing custom view that manages banner closure"
Just a thought on the case where a custom view is in charge of dismissing a banner.

The pseudo-code will look like the following:

[code]

Do you think there is another way to rewrite that? I don't like too much..

[2019-12-31 12:34] danqing opened #275 "Allow dynamic height custom view"
Thanks for this library. I am asking basically what https://github.com/Daltron/NotificationBanner/issues/136 was asking (closed due to inactivity). Currently, there's no way to set the height for a custom view. I am aware of the `bannerHeight` method, but it's broken: if it's set the library no longer applies adjustments such as those for iOS 13 and for notch phones. As a result, it's very difficu

[2020-01-03 13:33] mbuchetics opened #276 "Right view is not working"
When using a `rightView` the layout is broken, the view is shown but no text will be visible. Using `leftView` works fine, using both together breaks the layout again.
This can be reproduced in the example project.

It works when using a `FloatingNotificationBanner`.

[2020-01-03 18:47] jmanalang3 commented on #266
the same problem with me, sometimes it disappears

[2020-01-04 11:03] bb-git opened #277 "Support "sideViewSize" for FloatingNotificationBanner"
It would be great to adjust the image size, as it is pretty small by default. This is already implemented for GrowingNotificationBanner.
Thanks for this great library!

[2020-01-05 20:58] devLoop1-zz opened #278 "Problem with Swift Package Manager."
Hello, I have problems when adding to my project with Swift Package manager, it gives me the following error.

I hope you can help me.

![Captura de Pantalla 2020-01-05 a la(s) 17 55 19](https://user-images.githubusercontent.com/48538624/71785976-e177df80-2fe4-11ea-9ec4-dfbb84f1aad7.png)
![Captura de Pantalla 2020-01-05 a la(s) 17 54 50](https://user-images.githubusercontent.com/48538624/71785975-

[2020-01-06 17:20] marcheimendinger commented on #258
The fix in merged PR #254 doesn't seem to be present in the latest version of the library. Is it true ?

[2020-01-07 11:58] Milap-Kundalia commented on #225
I am facing the same error it's still not working

[2020-01-08 09:03] lvnkmn commented on #278
I'm pretty sure this should be fixed in the latest code that's on the master branch of this repo. Can you try if this issue disappears when using that? If so, it would be a good idea for @cbpowell to create a release using that soon.

[2020-01-08 11:19] #259 closed

[2020-01-08 13:54] cbpowell commented on #278
@lvnkmn hopefully the MarqueeLabel 4.0.1 release fixes it, that adds SPM back in and should also allows older Xcode versions.

[2020-01-10 09:03] nbhhcty commented on #266
I'm also experiencing this bug

[2020-01-10 09:04] nbhhcty opened #279 "iOS 13 StatusBarNotificationBanner behind status bar"

[2020-01-19 07:18] #260 closed

[2020-01-23 10:07] harshsrivastav000 opened #280 "Notification banner not showing for iPad OS 13.3"
The notification banner is not displaying on iPad OS 13.3

[2020-01-29 21:30] BossOz opened #281 "Banner initialized in a "not UIViewController" class fails to show up"
I have a class `ConnectivityManager` that implements the `NWPathMonitor` for monitoring the connectivity status.
In the `init` of this class I init the `NotificationBanner` like this
[code]
When I try to show it on the delegate UIViewController

[code]

I got this error

The error is catch inside this function
`func show(placeOnQueue: Bool, queuePosition: QueuePosition = .back, bannerPosition: Ban

[2020-01-30 12:29] martias opened #282 "[iOS13/iPad] - FloatingNotificationBanner - Not displaying borders correctly on modal card iPad"
**Describe the bug**
FloatingNotificationBanner with corners is not being presented correctly in a modal card on iPad

**To Reproduce**
Steps to reproduce the behavior:
1. Present FloatingNotificationBanner in a modal VC on iPad

**Screenshots/Videos**
![73435657-5e2e7d00-4349-11ea-846d-67b220e0ee81](https://user-images.githubusercontent.com/439334/73449864-719b1180-4364-11ea-8a18-ab9531fd8edf.png

[2020-02-03 08:32] Ahmed-Masoud opened #283 "failed to get appWindow (Crash)"

[2020-02-03 08:33] #283 closed

[2020-02-03 08:34] Ahmed-Masoud opened #284 "Failed to load appWindow the app crashed"
this happens when i show the banner with internet connection error based on a notification from Reachability this happens when the internet is manually turned off from control center at this point the pod failes to get the correct app window and fails

[2020-02-05 03:33] darkandchoco commented on #284
Same here with a new project in Xcode 11 iOS 13, it has something to do with SceneDelegate when NotificationBanner is getting the current app window. Current window is nil since NotificationBanner is not able to get a current window that is active from scene delegate.

`    private let appWindow: UIWindow? = {
        if #available(iOS 13.0, *) {
            return UIApplication.shared.connectedSc

[2020-02-05 04:42] darkandchoco commented on #284
My workaround is to not call notification banner in app delegate but in view did appear in one of my main views:

`
private let reachability = try! Reachability()
private var banner: NotificationBanner?

private func configureReachability() {
        guard !isReachabilityConfigured else { return }

        reachability.whenReachable = { reachability in
            self.banner?.dismiss()
        }

[2020-02-05 10:30] lvnkmn commented on #278
For now, this configuration works:
<img width="467" alt="image" src="https://user-images.githubusercontent.com/2656075/73833788-d514bb80-480a-11ea-93e3-2f0a9d03a479.png">

Looking forward to a release of that @cbpowell 🙂

[2020-02-05 13:10] cbpowell commented on #278
@lvnkmn that release is actually already available. Is there anything more required on my end?

[2020-02-05 13:16] lvnkmn commented on #278
[This commit](https://github.com/Daltron/NotificationBanner/commit/b9d9e7e344d5526be0cfc60c5c3f355f5afd9c21) in master solves the issue, but hasn't been released yet.

@cbpowell tagging that commit with **3.0.4** would solve our problems

[2020-02-05 13:57] cbpowell commented on #278
Gotcha, I was making sure there’s nothing else needed on the MarqueeLabel side. I can’t help with tagging in this repo.

[2020-02-05 14:15] lvnkmn commented on #278
@cbpowell Ah, didn't know that's your repo. Well in that case, what could also fix current issues is by undeleting the Xcode 11 branch. `NotificationBanner` **3.0.3** is still pointing to that branch and since that one doesn't exist SPM currently fails when using Symantic versioning.

@Daltron  Preferably I hope there will be a **3.0.4** tag for This commit soon.

[2020-02-05 14:23] lvnkmn commented on #278
@cbpowell tagging the latest released commit with `xcode11` since tags are also seen as branches in SPM.

[2020-02-09 10:12] wiencheck opened #285 "Showing notification banner makes 'custom' UIWindow disappear"
I have added another UIWindow on top of my app's main window and when NotificationBanner displays the window disappears, no matter what `.windowLevel` it has set. The code for window looks like this:

[code]

If I set the .windowLevel to .alert the window doesn't disappear but the banners are not visible. I tried setting the .windowLevel to both .normal and .statusBar and added +1 but the issue st

[2020-02-10 05:41] EdwinJr13 opened #286 "Fatal error with: bannerPositionFrame.startFrame"
When I try to display the notification on a real device it shows that error:

Thread 1: Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value

On this line:

self.frame = bannerPositionFrame.startFrame

Help please.

[2020-02-11 05:56] hanawat commented on #277
+1

[2020-02-12 06:49] shikhil-sevenlakes commented on #286
Did we have any update on the fix?

[2020-02-12 06:52] shikhilnuwal commented on #286
Do we have any update on the fix?

[2020-02-12 08:18] danqing commented on #231
Can you cut a new version @Daltron so we can start using SPM? Thanks!

[2020-02-12 14:35] Daltron commented on #231
Thanks for being patient everyone! `3.0.4` should not be accessible through SPM!

[2020-02-15 07:58] krparakhiya commented on #286
Any update because i face same error.

[2020-02-17 14:42] #272 closed

[2020-02-18 23:15] #262 closed

[2020-02-23 19:54] AlaaElrhmanArafa commented on #286
same issue

[2020-02-25 12:20] danqing opened #288 "Use light status bar when banner is shown?"
I feel like the banner (other than the floating style) looks best when the status bar is light (white). The text in the banner is already white. Is it possible to force status bar color when the banner is visible?

[2020-02-25 17:12] SalsaShark opened #289 "iPad narrow context landscape mode renders full width"
On iPad when using a narrow context (side by side or popover) when in portrait, the banner renders correctly. When in landscape, it appears to always render full-width.

Edit: You can't necessarily see it in that screenshot, but if the landscape view is wider, it is clearly rendering all the contents, just for the full width.

![Screenshot 2020-02-25 12 07 19](https://user-images.githubusercontent

[2020-02-28 11:12] gavrilaf commented on #286
Have the same issue.
I use the Banner from SwiftUI so I don't pass the UIViewController, banner shows on the main window.

[2020-02-28 15:49] Mempz opened #290 "Custom notification show animation"
Can I customize the show animation? I'd like to present the notification above my tabBar but I'd like it's entry point to be from the left of the screen then exit to the right.

[2020-02-29 06:47] gavrilaf commented on #286
I found my case reason. The application tries to show banner when a user cancels Google/Fb authentification, so the current scene has foreground inactive state and NotificationBanner couldn't retrieve the window.

It happens here:
[code]

Dirty workaround - show notification with delay.
Or add support for pending notifications and show notifications depends on application state. But it isn't the q

[2020-03-02 10:13] onevcat commented on #253
Same issue here. It happens when adding banner with `.front` queue position.

The newly added `maxBannersOnScreenSimultaneously ` is never considered.

https://github.com/Daltron/NotificationBanner/blob/master/NotificationBanner/Classes/NotificationBannerQueue.swift#L54-L76

[2020-03-02 19:25] SalsaShark commented on #289
Found it. bannerWidth was using **window.width**, which in landscape view was actually the full width of the device in portrait, so effectively the height in landscape. Using **window.frame.size.width** seems to correct this.
[code]

[2020-03-05 05:22] #273 closed

[2020-03-06 15:48] #274 closed

[2020-03-07 13:41] #275 closed

[2020-03-08 12:20] aleene commented on #280
I'll confirm this error. Nothing happens.

[2020-03-10 14:22] garnele007 commented on #222
This should get fixed in the main branch.

[2020-03-10 20:27] #276 closed

[2020-03-12 05:39] rocxteady opened #292 "NSAttributedString Support for GrowingNotificationBanner"
Hello.

There is no NSAttributedString support for GrowingNotificationBanner yet. Can you add this for the next release?

Thank you.

[2020-03-13 18:45] #258 closed

[2020-03-17 09:34] #266 closed

[2020-03-17 09:34] #279 closed

[2020-03-17 15:54] haukurhal opened #293 "Title/subtitle do not appear when right view is set"
There is no problem when I only show the left view. However when I try to show the right view, it appears on top of the left view and the text doesn't show. Like so:

![image](https://user-images.githubusercontent.com/30110854/76874313-ecfa4900-6866-11ea-8948-1c516e8d31e5.png)

It may not be too obvious but there is a right arrow (chevron) on top of the leftView, and no text is visible.

This is w

[2020-03-27 13:44] maxmika commented on #293
Yep, same here.

[2020-03-30 18:35] AlexisBarreyat commented on #277
+1

[2020-03-31 16:43] mohamedmontser opened #294 "Text Alignment"
can't change text alignment

[2020-03-31 16:48] #294 closed

[2020-04-05 21:52] #281 closed

[2020-04-06 22:02] #282 closed

[2020-04-11 14:30] hojatdelfan opened #296 "iPhone x does not support FloatingNotificationBanner from bottom position"
I've used the latest version of the library(3.0.2). I need to display the banner notification inside my own navigation controller in bottom position. To do this, I used the example of a library as follows
[code]
I have added only one parameter to the above code
[code]
**And finally, I put the output that I run below**

<img width="282" alt="Screen Shot 2020-04-11 at 6 57 31 PM" src="https://user-i

[2020-04-12 06:11] #284 closed

[2020-04-12 15:11] #278 closed

[2020-04-16 18:15] #285 closed

[2020-04-21 02:01] skhillon opened #298 "Receiving tap events from leftView and/or rightView"
## Problem
I'm using the notification banner to show text directions, and I've added arrows to the `leftView` and `rightView`, respectively:

![IMG_351EFBAC5316-1](https://user-images.githubusercontent.com/8892223/79816862-0a747400-8339-11ea-8120-be9d0f575180.jpeg)

I want to perform an action when one of the subviews is tapped, but those actions are not being fired. I've tried adding a `UITapGest

[2020-04-21 04:41] skhillon commented on #298
I realized that a UIButton already does what I'm trying to do, so I switched out the imageViews with buttons and now they correctly receive touch events.

[2020-04-21 04:41] #298 closed

[2020-04-24 09:25] LakshayaSevenLakes opened #300 "Banner is hiding InputAccessoryView"
Hi I am using Banner View in my application to display error while user is editing some data we are also using IQKeyBoardManager to have previous next functionality which is working fine but due to some issue when banner is shown input accessory view got hidden unless user dismisses the banner.

Can you please help.

[2020-05-02 13:09] #288 closed

[2020-05-04 18:31] cclaflin89 opened #302 "applyStyling() crashes the app"
version: 3.0.2

[code]

[2020-05-06 01:51] #290 closed

[2020-05-06 08:51] #286 closed

[2020-05-09 01:13] #289 closed

[2020-05-14 15:16] sandeep9607 commented on #286
please check this from author
https://github.com/Daltron/NotificationBanner/pull/295#issuecomment-623175359

[2020-05-15 04:48] #280 closed

[2020-05-18 11:29] #292 closed

[2020-05-19 08:17] psalzAppDev commented on #293
The constraints for the right view are not correct. I will submit a pull request with a fix.

[2020-05-20 09:52] iVoGia opened #305 "It's not showing on the real device"
I don't know the reason ,
It's working well before.
And now , it's not showing on the real device (simulator still working).

[2020-05-29 02:11] ijameelkhan opened #306 "Doesnt work on iPad. Wont fill the entire width in landscape mode"

[2020-05-29 07:09] AlexeyLazukinIOS commented on #286
had the same malfunction, ios 13.4.1, a very common scenario

[2020-06-06 04:19] #277 closed

[2020-06-17 15:36] #296 closed

[2020-06-24 14:42] Surferdude667 opened #307 "Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value"
Hi there! This looks awesome, however I can't make it work.

I added this in my viewDidLoad()
<img width="950" alt="Skærmbillede 2020-06-24 kl  16 39 57" src="https://user-images.githubusercontent.com/15128640/85577471-8b056880-b639-11ea-8787-8f41244278be.png">

But when I run the app it crashes on this line:
<img width="1385" alt="Skærmbillede 2020-06-24 kl  16 40 13" src="https://user-images.git

[2020-06-24 20:58] Surferdude667 commented on #284
@darkandchoco Thank you so much! This totally fixed it! @Daltron

[2020-06-24 21:30] alokc83 opened #308 "[Question] How to decrease the time banner stays on."
I have been trying to figure out if I can reduce the time that the banner stays on.
I couldn't find anything. Can anyone help me, please

[2020-06-30 02:28] abeticlairon commented on #307
Same thing happens to me!

[2020-07-02 07:33] #300 closed

[2020-07-03 06:59] turk-jk opened #309 "crash when init FloatingNotificationBanner without title"
when init the FloatingNotificationBanner without title
`            let banner = FloatingNotificationBanner(title: nil,
                                                    subtitle: text,
                                                    titleFont: nil,
                                                    titleColor: .lightGray,
                                                    titleTextAlign:

[2020-07-06 19:33] burhanshakir commented on #307
Same here, but only seems to be happening on device, works fine on the simulator

[2020-07-09 03:20] roasted-almond commented on #258
Hi there, it seems this fix is not included in latest library. Shall we reopen the PR?

[2020-07-09 12:58] FakeAK commented on #307
Same thing here

[2020-07-09 19:45] Surferdude667 commented on #307
https://github.com/Daltron/NotificationBanner/issues/284#issuecomment-582237682

Look at this. I managed to fix it with this approach :) (However this is an issue)

[2020-07-10 11:51] roteirod commented on #308
Hi there! I just do it this way:
[code]

[2020-07-11 01:01] #302 closed

[2020-07-18 12:53] Ze-ro-G commented on #266
Same problem here, did someone find a solution ?

[2020-07-25 09:00] #293 closed

[2020-07-26 12:01] #305 closed

[2020-07-30 19:04] angi-betancourt commented on #307
I have the same issue but on a different line:
Fatal error: Unexpectedly found nil while unwrapping an Optional value: file /Users/isw/Documents/Home/AbarroTICs/frontend-ios/Código/Pods/NotificationBannerSwift/NotificationBanner/Classes/BaseNotificationBanner.swift, line 149
![Screen Shot 2020-07-30 at 13 55 58](https://user-images.githubusercontent.com/36274080/88962754-7f2a4900-d26c-11ea-8278-f

[2020-08-03 21:06] scruff311 opened #313 "No support for UIVisualEffectView?"
I have a `customView` that is of type `UIVisualEffectView`, but when I add it as a `customView` to the banner, the background is not getting the blur affect applied. If I add the same view directly to my `viewController.view`, the blurring works as expected. Is there some workaround to get these to work within the banner?

[2020-08-04 13:41] roteirod commented on #308
Actually, it's like this:
`banner.duration = 2`
Just found it :D

[2020-08-06 07:59] alessioliuzzi98 opened #314 "Accessibility support"
VoiceOver has to read the message on the notification when it appears

[2020-08-08 03:03] #306 closed

[2020-08-10 07:05] IM-TNinja opened #315 "extension UIWindow issue"
Hello! You using the height & width in 'UIWindow' extension. It's an issue for the projects which have their own UIWindow extension for this properties and the project won't compile.

[2020-08-13 16:15] belov1 commented on #307
I have the same thing.
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/30197503/90159639-61df9980-dd99-11ea-9911-b564f58763cd.png">

[2020-08-14 18:50] jonathanfoster commented on #307
TL;DR: If you're having these strange issues, make sure you're instantiating and showing the banner on the same thread and avoid any shared objects without a locking mechanism.

I can into a similar issues (exact same as @Surferdude667 and @belov1) and it turned out to be a concurrency issues for me. I was using `NWPathMonitor` to monitor network connectivity and a `StatusBarNotificationBanner` to

[2020-08-28 17:45] misteu commented on #314
Hey,
is this still open? I'd like to start working on that.
Best regards
Michael

[2020-08-30 15:41] misteu commented on #307
Hey there,
it does crash because the library depends on the view or at least the windon being existent. Unfortunately the library includes a lot of force unwrapping.

For this particular issue, I found a solution. I will open a Pull Request for it soon.

[2020-09-07 02:08] zhaoquntao opened #317 "Does not work properly in iOS13.7"

[2020-09-10 12:32] Neilfau commented on #307
Also had this issue, the library cannot find the window, I forked the project and made the following changes and it now works:

[code]

[2020-09-11 02:26] #309 closed

[2020-09-15 10:41] findus commented on #307
For me the issue was that the app crashed if a modal dialog is being presented the moment the dialog gets displayed.
https://github.com/findus/NotificationBanner/commit/aefd75e8c916953f481d39afcdfede1487fae45c
This fixes the force unwrap of the view, but i am not sure if this screws up something else in the long run, if the subview does not get added, apart from that some notifications might get n

[2020-09-23 14:58] steved67fb opened #318 "Not working on iOS 14."
Getting layout issues shown in the debugger.  Works fine pre-13.7

[2020-10-01 16:19] cukingpro opened #319 "Show banners in inverse order."
Hello
I want to show multiple banners. Can I show the lastest banner on top?
Thank you

[2020-10-06 06:00] DominikButz commented on #307
Same problem with UIAlert and in-app-purchase view controller. I tried to use the notification banner to display success or failure of an in-app-purchase - it crashes every time. I use it in a SwiftUI app, so it is scene-based. @findus solution worked for me.

[2020-10-11 11:42] #313 closed

[2020-10-11 11:42] #308 closed

[2020-10-13 07:09] pikacode commented on #270
@vburojevic  I got the same problem with you on other libs, did you find out how to resolve this?
-[UIWindow windowScene]: unrecognized selector sent to instance
-[UIApplication connectedScenes]: unrecognized selector sent to instance

[2020-10-23 01:07] HenryQuan opened #325 "Update readme regarding to changes to `windowLevel` since iOS 13"
# windowLevel
Since iOS 13, `windowLevel` won't place anything on top of the `system status bar`.
# Potential fixes
- Make the view longer as mentioned in #240
- Hide the status bar at the root controller and then, display the alert normally to make it `on top`

This repo has almost 4k stars so I think the `README` should be updated to reflect this problem and also, potential fixes.

[2020-11-03 22:33] moh-abk commented on #307
any chance you can share a snippet of how you use it with SwiftUI?

[2020-11-05 07:17] DominikButz commented on #307
Hi, usage is not different from UIKit.
you can see how this framework basically works in the show function:

    public func show(queuePosition: QueuePosition = .back,
                     bannerPosition: BannerPosition = .top,
                     queue: NotificationBannerQueue = NotificationBannerQueue.default,
                     on viewController: UIViewController? = nil) {
        parentView

[2020-11-08 09:25] macoapps opened #327 "SwiftUI custom view support"
Hi,
I'm using your awesome library which is currently based on UIKit. I plan to move to SwiftUI, and still want to keep your library.
I did some tests to use SwiftUI views as custom views, using UIHostingController, but the layout become weird.
I think that this the SwiftUI view bounds are computed AFTER the banner appears, but not sure.
Do you plan to support SwiftUI in the future releases ?

By

[2020-11-09 08:45] #314 closed

[2020-11-11 17:35] gadget-man opened #328 "Dismiss banner programmatically"
How do I dismiss a floating banner programmatically within the viewcontroller?  As the following gets called within a function, I'm unable to reference `banner.dismiss()` in a different function:

`
let banner = FloatingNotificationBanner(title: title, subtitle: subtitle, style: .warning)
banner.autoDismiss = false
banner.show(bannerPosition: .bottom, on: self)
`

[2020-11-11 20:30] gadget-man commented on #328
Solved - I hadn't realised I just needed to declare the above at the top of the class

[2020-11-11 20:30] #328 closed

[2020-11-16 03:22] #317 closed

[2020-11-24 14:26] aman836 opened #330 "StatusBarNotificationBanners label moves to right corner on orientation change."
My app does not support landscape mode and still if the user tilts their phone in any direction the label inside the StatusBarNotificationBanners moves itself from the centre to the right corner of the banner.

The banner does not have more than 2 words at any given time and this is how it is being initialised
StatusBarNotificationBanner(title: "Connecting...", style: .warning)

Pod version 3.0.2

[2020-11-24 20:16] Szymon-Gesicki commented on #330
+1

[2020-12-02 20:10] Preston-Landers opened #332 "Swift package for 3.0.4?"
Hello,

First of all, thank you for your excellent work on this very useful library.

I was using version 2.5.1 for a while then I updated to 3.0.2 which is the latest available Swift package. Then I noticed I was affected by a bug where queued banners forget their position. It looks like there's a fix in 3.0.4 for this, from this commit:

96ff93f0d1e599527b361d856d0b403f27736762

Unfortunately it

[2020-12-09 12:09] aman836 commented on #330
Hey Guys,
It's been a while, does anyone have a solution for this.

Thanks in advance.

[2020-12-10 22:03] Daltron commented on #330
@aman836 Could you provide a video/gif of what you are experiencing please along with the code snippet you are using to show the banner? I'm not able to reproduce the issue currently.

[2020-12-10 22:05] Daltron commented on #327
Hi @macoapps! SwiftUI is still a long ways away before coming primetime. Thus NotificationBanner has no immediate plans to support SwiftUI currently but that could most certainly change in the future when SwiftUI becomes a little bit more relevant.

[2020-12-10 22:05] #327 closed

[2020-12-10 22:06] Daltron commented on #325
Hi @HenryQuan! Feel free to open up pull requests for any issues you see!

[2020-12-10 22:06] #325 closed

[2020-12-13 07:13] Daltron commented on #318
Closing this issue as I am not seeing any issues on iOS 14 currently.

[2020-12-13 07:13] #318 closed

[2020-12-13 19:44] Daltron commented on #332
Hi @Preston-Landers! I just released a new CocoaPods `3.0.5` version. I'm currently not familiar with how to publish a new Swift package. Would you mind submitting a PR for this? Thanks! 😄

[2020-12-13 19:56] Daltron commented on #319
Hi @cukingpro! If you want to show the latest banner on top of the one(s) that are already in the queue, when calling the `show` function on your banner, make sure to pass in the `queuePosition` parameter like so:

`banner.show(queuePosition: .front)`

[2020-12-13 19:56] #319 closed

[2020-12-13 19:57] #315 closed

[2020-12-14 17:32] Preston-Landers commented on #332
Actually, for my purposes, what I really needed was the CocoaPods update, so I think I'm good now.

Apologies for getting my terminology wrong. I'm pretty new to the world of Swift and ObjC. I was not especially aware of the distinction between CocoaPods and the Swift Package Index. While adding this package to SPI may indeed be a worthy goal, at this point I have little idea how to accomplish it

[2020-12-14 17:32] #332 closed

[2020-12-15 10:31] aman836 commented on #330
@Daltron Thank you for responding, please find the code snippet and GIF attached below. 😊

`
private var banner: StatusBarNotificationBanner? = nil
func updateBanner(withStatus status: String) {
        switch status {
        case "connected":
            banner?.dismiss()
            banner = StatusBarNotificationBanner(title: "You're back on!", style: .success)
            banner?.show()

[2020-12-17 03:00] Daltron commented on #330
Hi @aman836! Thanks for providing the GIF. Is there any way you could provide me a demo project to download that showcases this behavior? As is currently, I am unable to reproduce.

[2020-12-17 03:26] Daltron commented on #330
Thanks for the GIF @aman836! I was able to reproduce the issue and this should now be fixed in the 3.0.6 release! Thank you for reporting this!

[2020-12-17 03:26] #330 closed

[2020-12-17 12:41] borut-t opened #333 "Crashing all the time"
Can you please explain why this library is crashing all the time to me?
Here is the code to run the banner:
[code]

Here is the crash:
[code]

[2020-12-17 16:11] Daltron commented on #333
Hi @borut-t, if you look carefully at the crash, it says it is crashing on line 530 inside `BaseNotificationBanner`. That indicates that the `bannerPosition` is for some reason nil. You will need to provide me with an example of reproducible steps or investigate a little further your self and report back if we want to get to the bottom of this! 😄

Thanks!

[2020-12-18 08:31] borut-t commented on #333
I have a typical tabBar + navBar setup and it's crashing on that setup. Nothing special about it. Unfortunately, I don't have time to dig into this issue.

If I may suggest you to replace those IUOs with optionals instead to avoid crashing. I would rather see app not presenting a banner than crashing for those "edge" cases.

[2020-12-27 19:38] dweizhao opened #334 "Broken on iPhone 12 pro"
It seems that the following code is broken on iPhone 12 Pro at least. (Didn't try other iPhone 12s)

    class func isiPhoneX() -> Bool {
        if UIDevice.current.userInterfaceIdiom != .phone {
            return false
        }
        return UIScreen.main.nativeBounds.height == 2436 // on iPhone 12 Pro, it's 2536
    }

[2021-01-11 02:10] zinwalin commented on #334
same here. need help

[2021-01-15 18:25] weitieda commented on #333
Pretty much same issue here... But it's in crash report. While testing, can't reproduce the crash.

I ended up making `startFrame` and `endFrame` optional.

[code]

Hope this will fix the crash.

[2021-01-16 14:59] FunkyHotDog commented on #334
For me the banner won't show on iPhone X on a real device, but when I use simulator it works fine 🤔 I wonder if this is the underlying issue.

[2021-01-17 16:32] FunkyHotDog opened #336 "Stacked banners does not work on iOS 13.0"
I have the most basic implementation of the stacked banners, and on iOS 13.0 they simply never appear.
Tested both on simulator and real device.

[2021-01-17 18:28] Daltron commented on #336
Hi @FunkyHotDog! Would you mind linking me to a download link of a sample project so that I can reproduce this?
Thanks!

[2021-01-18 13:57] aman836 commented on #333
Hi @Daltron,
Some of my users are also facing this crash, the crash take place according to my Firebase report on. `BaseNotificationBanner.show(placeOnQueue:queuePosition:bannerPosition:) + 380`
and it is a EXC_BREAKPOINT crash.

And the crash started taking place after updating to pod version 3.0.6.
I haven't been able to reproduce it on my end.

[2021-01-21 15:45] dregatos opened #337 "Swift package for 3.0.6"
Hey @Daltron,

Could you please release a new version for the latest available tag (3.0.6)? This way, it would be possible to integrate the last version of this awesome framework through Swift Package Manager using the tag instead of the commit hash.

In case you are not familiarized with SPM, you only need to [edit](https://github.com/Daltron/NotificationBanner/releases/tag/3.0.6) the latest tag

[2021-01-21 15:59] Daltron commented on #337
Hi @dregatos I just created a release for this! Please let me know if that didn't work! Thanks for your kind words! 😁

[2021-01-21 19:45] mendimr opened #338 "dismissAllForced without animations"
Hello there,

First, thank you for the library as it's a life saver for a beginner like me...

My question is if there is a way to dismiss all the banners in queue without any animation?
Currently what I'm using is queue.dismissAllForced() but that only reduces the speed by half of the default show/dismiss speed.

The only reason why I'm asking this is because the notifications are interfering wit

[2021-01-22 07:46] dregatos commented on #337
Thanks a lot, @Daltron. It works!!

[2021-01-22 07:46] #337 closed

[2021-02-01 11:02] mikestalker commented on #276
This issue still not fixed.

[2021-02-02 16:08] kylebrowning commented on #315
This is still an issue why does it keep getting closed?

[2021-02-02 16:08] kylebrowning opened #339 "extension in UIWindow means we can't use this project"
Title says it all.

[2021-02-02 17:00] IM-TNinja commented on #315
Hey @kylebrowning, it's still not solved...
In my project, I manage to rename width, height properties to nbsWidth, nbsHeight, to fix this issue and notify all my team members to not update this pod.

[2021-02-02 18:14] kylebrowning commented on #315
@IM-TNinja I fixed it here, #340

[2021-02-04 06:34] fukemy commented on #285
hi buddy, did u solved that?

[2021-02-04 06:39] fukemy commented on #56
hi @Daltron, i set banner show on my topVC then it below navigation, not under, can u help?
![Screen Shot 2021-02-04 at 13 39 12](https://user-images.githubusercontent.com/8202437/106854730-6359a100-66ee-11eb-86d2-e9d37b88d5cc.png)

[2021-02-04 07:03] fukemy commented on #61
hi @pselok , i facing same problem, did u used "https://github.com/nathantannar4/InputBarAccessoryView"? I tried to make
[code]

But it's seem not working, when notification show the messageInputBar disappear

[2021-02-11 10:45] buechner commented on #333
Looks like a race condition. When i run via xcode, everything works fine. When i run my app without xcode (still compiled with Debug options) it crashes.

[code]